.customAntModal {
  /* padding: 2px !important; */
}



/* 
  Custom Modal Title hide with close button
*/
.customAntModalTitleWithCloseHide .ant-modal-close {
  display: none !important;
}

/* 
  Custom Modal Title show with close button
*/
.customAntModalTitleWithClose .ant-modal-title {
  color: #000 !important;
  font-family: Poppins !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
}

.customAntModalTitleWithClose .ant-modal-close {
  top: 29px !important;
}

.customAntModalTitleWithClose .ant-modal-close-x {
  font-size: 25px !important;
}



@media screen and (max-width: 768px) {
  .customAntModalTitleWithClose .ant-modal-title {
    font-size: 24px !important;
  }

  .customAntModalTitleWithClose .ant-modal-close {
    top: 20px !important;
  }

  .customAntModalTitleWithClose .ant-modal-close-x {
    font-size: 20px !important;
  }
}