/node_modules
/public/hot
/public/storage
/public/user-uploads
/storage/*.key

# public/js/app.js.map
.env
# public/js/react
#vendor
# public/js/app.js
# public/js/vendor.js.map
# public/js/vendor.js
/public/bundle-report.html
/public/report.html

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
*.zip
.DS_Store
mix.js.map
mix-manifest.json
ngrok
/storage/installed
/storage/framework/laravel-excel/
grumphp.yml
/bootstrap/cache/*
storage/reviewed
*.bak
.prettierrc.json

.scannerwork
coverage
.sonarlint

__TODO__
package-lock.json

#test
coverage
.scannerwork
reload_pages.sh
deadcode.json
webpack.plugins.config.js
.devdbrc
