.dashboardProgressStatusContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

.projectHourlyLeft {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
  display: flex;
  flex-direction: column;
}

.projectHourlyRight {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
  display: flex;
  flex-direction: column;
}



@media  (min-width: 1460px) and (max-width: 1890px){
  .projectHourlyLeft {
    flex: 0 0 75%;
    max-width: 75%;
    display: flex;
    flex-direction: column;
  }
  
  .projectHourlyRight {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
  }
}





@media screen and (max-width: 1024px) {
  .dashboardProgressStatusContainer {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (max-width: 1459px) {
  .projectHourlyLeft {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .projectHourlyRight {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }


}


@media screen and (max-width: 768px) {
  .dashboardProgressStatusContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .projectHourlyLeft {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .projectHourlyRight {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
}