.dashboardProgressStatusContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}


@media screen and (max-width: 1024px) {
  .dashboardProgressStatusContainer{
    grid-template-columns: repeat(3, 1fr);
  }
  
}


@media screen and (max-width: 768px) {
  .dashboardProgressStatusContainer{
    grid-template-columns: repeat(2, 1fr);
  }
}

