.sales_risk_status_toggle_not_checked::before {
  background-color: #a00000 !important;
  border-color: #a00000 !important;
}
.sales_risk_status_toggle_not_checked::after {
  background-color: #fff !important;
}

.custom-control-input:checked~.sales_risk_status_toggle_checked::before {
  background-color: #218838 !important;
  border-color: #218838 !important;
}
