@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Questrial&display=swap');


body {
  background: #eaeaea;
  font-family: 'Open Sans', sans-serif;
}

.banner {
  background: blue;
  color: white;
}

.banner, .email-content {
  padding: 2em 5em;
  overflow: hidden;
}

h1 {
  font-family: 'Questrial', sans-serif;
  font-size: 5em;
  margin: 0 0 .5em 0;
}

hr {
  margin-top: 2em;
  background: blue;
}

a {
  text-decoration: none;
}

.sig {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5em;
  margin: 0;
}

.email-container {
  margin: 5% 25% 1% 25%;
  background: #ffffff;
}

footer {
  text-align: center;
  margin: 0;
  padding: 1em;
}