.dot-color {
  display: block;
  width: 8px;
  height: 8px;
  min-width: 8px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sp1_task_btn_group {
  border-color: #E7EFFC;
}

.sp1_task_btn_group button {
  border-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 376px) {
  .sp1_task_btn_group button {
    font-size: 13px !important;
  }
}

.sp1_task_card {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.sp1_task_card--head {
  padding: 10px 16px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgb(231, 239, 252);
  font-size: 16px;
  font-weight: 600;
}

.sp1_task_card--head > .__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(231, 239, 252);
  color: rgb(227, 62, 79);
  font-size: 14px;
}

.sp1_task_card--body {
  padding: 10px 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  max-height: 300px;
  overflow-y: auto;
  font-size: 14px;
}

.sp1_task_card--body::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px !important;
}

.sp1_task_card--body::-webkit-scrollbar-track {
  background: rgb(240, 240, 240) !important;
  border-radius: 4px;
  padding: 0 !important;
}

.sp1_task_card--body::-webkit-scrollbar-thumb {
  border: none;
}

.sp1_task_card--sub-card {
  margin-bottom: 16px;
  padding-bottom: 16px;
}
.sp1_task_card--sub-card p {
  margin-bottom: 5px;
}
.sp1_task_card--sub-card p:empty {
  display: none;
}
.sp1_task_card--sub-card ul {
  margin-left: 40px !important;
}
.sp1_task_card--sub-card li {
  list-style: unset !important;
}

.sp1_task_card--sub-card:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sp1_tc_sc-inx {
  padding: 10px;
  border-radius: 16px;
  background: #f6f9ff;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.sp1_tc_sc-inx > h2 {
  font-weight: bold;
  color: rgb(227, 62, 79);
  margin: 0;
  font-size: 24px;
}

.sp1_task_right_card {
  padding: 16px 24px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  max-height: 180px;
  position: relative;
}

.sp1_task_right_card--body {
  height: 110px;
  overflow-y: auto;
  padding-bottom: 5px;
  padding-right: 5px;
}

.sp1_task_right_card--body::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px !important;
}

.sp1_task_right_card--body::-webkit-scrollbar-track {
  background: rgb(240, 240, 240) !important;
  border-radius: 4px;
  padding: 0 !important;
}

.sp1_task_right_card--body::-webkit-scrollbar-thumb {
  border: none;
}

.sp1_tark_add_item {
  color: #777;
  padding: 2px 10px;
  border-radius: 6px;
  font-weight: 500 !important;
}

.sp1_tark_add_item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.sp1_task_righ_action_btn {
  color: #777;
}

.sp1_task_righ_action_btn:hover {
  color: var(--header_color);
}

.sp1_tark_right_item:not(:last-child) {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-style: dashed;
}

.sp1_tark_right_item {
  font-size: 13px;
}
.sp1_tark_right_item a {
  color: #777;
}

.sp1_task_right_dl_toggle {
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 50%;
  font-size: 24px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: -10px;
}

.sp1_task_comment_modal {
  width: 800px;
  max-height: 90vh;
  overflow: hidden;
  overflow-y: auto;
  left: 12px !important;
  top: -80px !important;
  border: 0.5px solid #84caf8 !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgb(250, 250, 252);
  border-radius: 16px;
}
.sp1_task_comment_modal.--small-device {
  position: absolute;
  top: 20px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: 95vw;
  max-width: 800px;
  border-radius: 12px;
}

/* comment */
.sp1_task_comments {
  display: flex;
  flex-direction: column;
}

.sp1_task_write_comment {
  display: flex;
  gap: 10px;
}

.sp1_task_comment_send_box {
  display: flex;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.sp1_task_comment_send_box .__avatar {
  width: 48px;
  height: 48px;
  display: inline-block;
}
.sp1_task_comment_send_box .__send-box {
  flex: 1;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
}
.sp1_task_comment_send_box .__send-box .__box {
  width: 100%;
  background: #fff;
  padding: 5px 12px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}
.sp1_task_comment_send_box .__send-box .__box span {
  color: #777;
}
.sp1_task_comment_send_box .__send-box .__box.__reply_text {
  background: #f5f5f5;
  border: none;
  padding-left: 14px;
  border-radius: 8px;
}
.sp1_task_comment_send_box .__send-box .__box.__reply_text div {
  border-left: 1px solid rgba(53, 129, 222, 0.3);
  padding-left: 28px;
}

.comment_files .comment_file {
  width: 64px;
  height: 64px;
  padding: 4px;
}

.sp1_comment_user--name {
  font-weight: 500;
  margin-right: 10px;
  font-size: 14px;
  color: #171F28;
  display: block;
}
@media (max-width: 557px) {
  .sp1_comment_user--name {
    font-size: 13px;
    line-height: 13px;
  }
}

.sp1_comment_time {
  font-size: 12px;
}
@media (max-width: 557px) {
  .sp1_comment_time {
    font-size: 11px;
  }
}

@media (max-width: 557px) {
  .sp1_message--body h1 {
    font-size: 22px !important;
  }
  .sp1_message--body h2 {
    font-size: 20px !important;
  }
  .sp1_message--body h3 {
    font-size: 18px !important;
  }
  .sp1_message--body h4 {
    font-size: 16px !important;
  }
  .sp1_message--body h5 {
    font-size: 14px !important;
  }
  .sp1_message--body h6 {
    font-size: 12px !important;
  }
  .sp1_message--body p, .sp1_message--body i, .sp1_message--body a {
    font-size: 13px !important;
    line-height: 14px;
  }
}

.sp1_task_comment_list_items {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.sp1_task_comment_list_items::-webkit-scrollbar {
  width: 4px;
  border-radius: 4px !important;
}

.sp1_task_comment_list_items::-webkit-scrollbar-track {
  background: rgb(240, 240, 240) !important;
  border-radius: 4px;
  padding: 0 !important;
}

.sp1_task_comment_list_items::-webkit-scrollbar-thumb {
  border: none;
}

.sp1_task_comments {
  width: 100%;
}

.sp1_task_comment_actions {
  width: 100%;
  margin-top: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #777;
  padding-left: 16px;
}
.sp1_task_comment_actions a {
  color: #777;
  font-size: 14px;
}
.sp1_task_comment_actions a:hover {
  text-decoration: underline;
  color: #333 !important;
}
.sp1_task_comment_actions .replies_count {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-left: 16px;
}
.sp1_task_comment_actions .replies_count > .reply_auth_avatar {
  position: relative;
  display: flex;
  align-items: center;
}
.sp1_task_comment_actions .replies_count > .reply_auth_avatar > div {
  display: block;
  float: "left";
  border-radius: 50%;
}
.sp1_task_comment_actions .replies_count > .reply_auth_avatar > div img {
  border: 2px solid rgb(237, 237, 237);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.sp1_task_comment_actions .replies_count:hover {
  text-decoration: underline;
  color: rgb(39, 111, 236);
}
@media (max-width: 557px) {
  .sp1_task_comment_actions > a {
    font-size: 13px !important;
  }
}

.sp1_task_comment_replies {
  width: 100%;
  max-width: 650px;
}

.sp1_task_card--sub-card-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp1_task_card--sub-card-modal-content {
  width: 100%;
  max-width: 60vw;
  background: #fff;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}
.sp1_task_card--sub-card-modal-content .__header {
  background-color: #ececec;
  padding: 6px 10px;
  margin-bottom: 10px;
  border: 1px solid #E7EFFC;
}
.sp1_task_card--sub-card-modal-content .__header button {
  margin-left: auto;
  font-size: 18px;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: #5c5c5c;
}
.sp1_task_card--sub-card-modal-content .__header button:hover {
  background-color: #f3f3f3;
  color: #525252;
}
.sp1_task_card--sub-card-modal-content .__content {
  height: 100%;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 32px;
}
.sp1_task_card--sub-card-modal-content .__footer {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px dashed #eeeeee;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
.sp1_task_card--sub-card-modal-content .__footer button {
  background-color: #c4e8ff;
}

.ck-editor-holder {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  width: 100%;
}

.sp1_task_comment_list {
  display: flex;
  flex-direction: column;
}

.sp1_st_cnt_modal {
  background: rgba(0, 0, 0, 0.2039215686) !important;
}

.sp1_st_comment_preview {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp1_st_comment_panel {
  width: 100%;
  max-width: 50vw;
  background: #fff;
  border-radius: 10px;
  padding: 16px;
}
.sp1_st_comment_panel > div > ._close-modal {
  background: #f5f5f5;
  border: none;
  margin-left: auto;
}
.sp1_st_comment_panel > div > ._close-modal i {
  color: #b1b1b1;
}
.sp1_st_comment_panel > div > ._close-modal:hover {
  background: #e7e7e7;
  color: #fff;
}
.sp1_st_comment_panel > div > ._close-modal:hover i {
  color: #575757;
}
.sp1_st_comment_panel > ._comment_list {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
}

.sp1_st_write_comment-sendbox {
  max-width: 100%;
  display: -moz-grid;
  display: grid;
  gap: 10px;
  grid-template-columns: 48px 1fr;
}

.sp1_st_write_comment_editor {
  padding-right: 16px;
}
.sp1_st_write_comment_editor > .ck-content {
  min-height: 250px;
}
.sp1_st_write_comment_editor > .ck-editor__editable_inline {
  border: 1px solid #ddd !important;
}

.sp1_st_write_comment_editor_attach {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.03);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: rgba(30, 31, 32, 0.3);
  flex-direction: column;
}

.sp1_st_write_comment_editor_attach span {
  font-size: 14px;
  display: block;
  color: rgba(30, 31, 32, 0.664);
}

.sp1_st_write_comment_editor_attach:hover {
  background: rgba(0, 0, 0, 0.1);
}

.sp1-subtask-form.--modal-panel {
  width: 800px;
  height: 100%;
  min-height: 300px;
  max-height: 80vh;
  overflow-y: hidden;
  background: #FAFAFC;
  border-radius: 16px;
  padding: 16px;
  border: 1px solid var(--header_color);
}
@media (max-width: 1200px) {
  .sp1-subtask-form.--modal-panel {
    position: absolute;
    top: 20px;
    left: 50%;
    height: -moz-fit-content;
    height: fit-content;
    transform: translateX(-50%);
  }
}
@media (max-width: 800px) {
  .sp1-subtask-form.--modal-panel {
    width: 95vw;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.sp1-subtask-form.--modal-panel.--modal-submitted {
  width: 600px;
}
@media (max-width: 1200px) {
  .sp1-subtask-form.--modal-panel.--modal-submitted {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 768px) {
  .sp1-subtask-form.--modal-panel.--modal-submitted {
    width: 95vw;
    height: 80vh;
  }
}
.sp1-subtask-form.--modal-panel-header {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sp1-subtask-form.--modal-panel-header h6 {
  margin: 0;
}
.sp1-subtask-form.--modal-panel-body {
  padding-inline: 24px;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .sp1-subtask-form.--modal-panel-body {
    padding-inline: 16px;
    max-height: 90vh;
  }
}
.sp1-subtask-form.--modal-panel-body.--form {
  height: -moz-fit-content;
  height: fit-content;
}

.sp1_subtask_form {
  max-height: 70vh !important;
}

.sp1_st-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (max-width: 576px) {
  .sp1_st-list-item {
    align-items: flex-start;
  }
}
@media (max-width: 376px) {
  .sp1_st-list-item {
    flex-direction: column;
  }
}

.sp1_st-list-item-head {
  width: 120px;
  color: #383b42;
  position: relative;
}
.sp1_st-list-item-head::before {
  position: absolute;
}
@media (max-width: 576px) {
  .sp1_st-list-item-head {
    width: 100px;
  }
}
@media (max-width: 376px) {
  .sp1_st-list-item-head {
    font-size: 13px;
    font-weight: 600;
    color: #3f3f46;
  }
}

.sp1_st-list-item-value {
  flex: 1;
  display: flex;
  gap: 6px;
}
.sp1_st-list-item-value > .dot-color {
  margin-top: 6px;
}
@media (max-width: 376px) {
  .sp1_st-list-item-value {
    font-size: 13px;
    color: #3f3f46;
    padding-left: 10px;
  }
}

.sp1-selection-display {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
.sp1-selection-display i.fa-sort {
  color: #d5d7da;
}

.sp1-selection-display-button {
  background-color: transparent;
  position: relative;
}
.sp1-selection-display-button > .__icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  color: rgba(138, 142, 146, 0.664);
}

.sp1-select-options {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  z-index: 2;
}

.sp1-select-option {
  padding: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #777;
}
.sp1-select-option:hover {
  background: rgb(24, 96, 240);
  color: rgb(240, 245, 253);
}
.sp1-select-option.active {
  background: rgb(24, 96, 240);
  color: rgb(240, 245, 253);
}

.sp1-select-option-nodata {
  padding: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #777;
}

.ck-editor__editable {
  background: #fff;
}

.sp1_sub-task-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 120px;
  height: 120px;
  background-color: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: background 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
.sp1_sub-task-file-upload i.fa-cloud-arrow-up {
  font-size: 2rem;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
}
.sp1_sub-task-file-upload:hover {
  background: rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.sp1_sub-task-file-upload > .__remove--btn {
  position: absolute;
  top: 4px;
  right: 4px;
  padding-inline: 6px;
  background: rgb(255, 63, 29);
  border: 0;
  outline: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.sp1_sub-task-file-upload > .__remove--btn:hover {
  background: rgb(255, 38, 0);
}
.sp1_sub-task-file-upload:hover > .__remove--btn {
  opacity: 1;
}
.sp1_sub-task-file-upload > input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.uploaded-file-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.uploaded-file-preview > .__icon {
  width: 40px;
  height: 52px;
  position: relative;
}

.uploaded-file-ext {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2px;
  background: #fff;
  position: absolute;
  bottom: 5px;
  left: 0;
  transform-origin: 50% 50%;
  font-weight: bold;
  font-size: 18px;
}

.cursor-processing {
  cursor: progress !important;
}

.text-ellipsis {
  overflow-x: hidden;
  text-overflow: ellipsis !important;
}

/* subtask modal */
.sp1_task_modal-view_item {
  width: 100%;
  display: flex;
  padding: 6px 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.sp1_task_modal-view_item:hover {
  background: rgba(0, 0, 0, 0.02);
}

.sp1-sumittion_task_modal-view {
  width: 100% !important;
  max-width: 500px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.sp1_subtask_log-tbl {
  width: 100%;
  border-collapse: collapse;
}
.sp1_subtask_log-tbl th {
  padding: 10px;
}
.sp1_subtask_log-tbl > thead.__thead {
  background-color: rgba(29, 112, 236, 0.1);
}
.sp1_subtask_log-tbl td {
  padding: 4px 10px;
}
.sp1_subtask_log-tbl > tbody.__tbody tr.__tbody_tr td.__tbody_td {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.sp1_subtask_log-tbl td._tbody_td_employee > img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.sp1_subtask_log-tbl td {
  font-size: 14px;
}

.sp1_time_log_emplyee_name {
  width: 100%;
  max-width: 150px;
  white-space: pre-wrap;
  line-break: strict;
  display: block;
}

.file-download-preview {
  color: inherit !important;
  width: 100%;
  height: 100%;
}
.file-download-preview:hover {
  color: inherit !important;
}

.sp1_st_comment-view p {
  padding: 0 !important;
  margin: 0 !important;
}

.sp1_subtask_offsetcanvas {
  width: 1080px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.sp1_subtask_offsetcanvas--modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.sp1_subtask_offsetcanvas--bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sp1_subtask_offsetcanvas--body {
  padding: 0;
  background: #fdfdfd;
  height: 80vh;
  display: -moz-grid;
  display: grid;
  grid-template-columns: 200px 1fr;
  position: relative;
}
.sp1_subtask_offsetcanvas--body .sp1-subtask-modal-sidebar {
  background: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 3px;
  width: 200px;
  z-index: 1;
}
.sp1_subtask_offsetcanvas--body .sp1-subtask-modal-sidebar .nav-link {
  color: #444958 !important;
}
.sp1_subtask_offsetcanvas--body .sp1-subtask-modal-sidebar .nav-link:hover {
  background-color: #e8f3fe !important;
}
.sp1_subtask_offsetcanvas--body .sp1-subtask-modal-sidebar .nav-link.active {
  color: #fff !important;
  background-color: var(--header_color) !important;
}
.sp1_subtask_offsetcanvas--body .sp1-subtask-modal-tab-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  padding-bottom: 20px;
}

.sp1_modal_timelog_view {
  display: grid;
  grid-template-rows: 30px 1fr;
  padding-bottom: 16px;
  gap: 10px;
}
.sp1_modal_timelog_view h6 {
  font-weight: bold;
}

.sp1_modal_timelog_view-tbl-contanier {
  overflow-y: auto;
  height: calc(80vh - 160px);
}

.sp1_st_tab_panel {
  height: calc(80vh - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-guideline-editor-text > h1 {
  font-size: 32px !important;
}
.modal-guideline-editor-text > h2 {
  font-size: 28px !important;
}
.modal-guideline-editor-text > h3 {
  font-size: 24px !important;
}
.modal-guideline-editor-text > h4 {
  font-size: 20px !important;
}
.modal-guideline-editor-text > h5 {
  font-size: 18px !important;
}
.modal-guideline-editor-text > h6 {
  font-size: 16px !important;
}

.subtask-timer-confirmation--modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subtask-timer-confirmation--panel {
  width: 100%;
  max-width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  background: white;
  padding: 16px 10px;
  border-radius: 16px;
  overflow: hidden;
}
.subtask-timer-confirmation--content {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 6px 16px;
}
.subtask-timer-confirmation--content ol li {
  list-style: unset;
  margin-bottom: 5px;
}

.sp1_mark-as--modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp1_mark-as--modal-panel {
  width: 100%;
  max-width: 650px;
  margin-inline: auto;
  background: #fff;
  padding: 8px 16px;
  border-radius: 12px;
}
.sp1_mark-as--modal-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
.sp1_mark-as--modal-body {
  height: -moz-fit-content;
  height: fit-content;
  padding: 16px 0;
}
.sp1_mark-as--modal-body form > .form-group > label {
  font-size: 14px;
  color: #777;
  font-weight: bold;
}
.sp1_mark-as--modal-body form > .form-group > input.form-control {
  padding: 10px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.sp1_conf--button-group {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  margin-top: 10px;
}
.sp1_conf--button-group > button {
  padding: 3px 16px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 14px;
  color: #fff;
  transition: background 0.2s ease-in-out;
}
.sp1_conf--button-group > button:first-child {
  font-size: 1rem;
  background-color: var(--header_color);
}
.sp1_conf--button-group > button:first-child:hover {
  color: #fff;
  background: #444958;
}
.sp1_conf--button-group > button:nth-child(2) {
  background-color: #444958;
}
.sp1_conf--button-group > button:nth-child(2):hover {
  color: #fff;
  background: #1e6cff;
}

.sp1_single_task--modal {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sp1_single_task--modal-panerl-wrapper {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background: rgba(24, 27, 32, 0.089);
}

.sp1_single_task--modal-panel {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90vw;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

.sp1_single_task--modal-body {
  height: 100%;
}

.sp1_single_task-modal-body-options {
  max-width: 550px;
}

.sp1_stop-button-confirmation-option h6 {
  font-weight: bold;
}

.task-selection-list-option {
  padding: 8px 10px;
  margin-bottom: 2px;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 1fr 24px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.task-selection-list-option:last-child {
  border: none;
}
.task-selection-list-option.selected {
  background-color: rgb(24, 96, 240);
  color: #fff;
}
.task-selection-list-option.active {
  background-color: rgba(24, 96, 240, 0.3);
  color: #000;
}

.mark-as-compeleted-link {
  display: flex;
  align-items: center;
  position: relative;
}

.mark-as-compeleted-link button {
  position: absolute;
  top: 50%;
  right: 10px;
  display: none;
  background-color: transparent;
  color: rgb(88, 77, 77);
  padding: 4px;
  transform: translateY(-50%);
}

.mark-as-compeleted-link:hover button {
  color: #f51b1b;
  display: block;
}

.sp1_remove-time-duration {
  background: rgb(250, 226, 226);
  color: #f00;
  height: 100%;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition: all 0.4 ease-in-out;
}
.sp1_remove-time-duration:hover {
  background: #f00;
  color: #fff;
}

/* revision button */
.sp1-st-revision-btn {
  background: rgb(240, 17, 17) !important;
  color: #fff !important;
  border-color: rgb(240, 17, 17) !important;
  cursor: pointer !important;
}
.sp1-st-revision-btn:hover {
  background: rgb(224, 4, 4) !important;
  color: #fff !important;
  border-color: rgb(224, 4, 4) !important;
}
.sp1-st-revision-btn.--view-revision {
  background: rgb(250, 234, 234) !important;
  color: red !important;
  border-color: rgb(247, 214, 214) !important;
}
.sp1-st-revision-btn.--view-revision:hover {
  background: rgb(240, 17, 17) !important;
  color: #fff !important;
  border-color: red !important;
}

/* end revision button */
/* revision commet view */
.st_revision_comment {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 16px;
  border-radius: 6px;
}

/* end revision comment */
/* approve */
.sp1_st--approve-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.sp1_st--approve-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
  background-color: rgb(238, 238, 240);
}
.sp1_st--approve-card-body {
  padding: 6px 10px;
}

.task-report-form--modal-panel {
  width: 550px;
}

@media only screen and (max-width: 632px) {
  .task-report-form--modal-panel {
    width: 100%;
  }
}
@media (max-width: 490px) {
  .sp1_report_btn {
    margin-left: 0 !important;
  }
}

.sp1_task-edit-button:hover {
  color: #fff !important;
  background-color: #084bc7 !important;
}
@media (max-width: 490px) {
  .sp1_task-edit-button {
    margin-left: 0 !important;
  }
}

.single_task_button_group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.single_task_three_dot {
  background-color: #f5f5f5;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_task_divider {
  margin-right: auto;
}

.single_task_action_dd_item {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  min-width: 130px;
  border-radius: 4px;
  color: #777;
}
.single_task_action_dd_item.disabled {
  background: #fff;
  opacity: 0.7;
}
.single_task_action_dd_item.disabled:hover {
  color: #777;
  cursor: not-allowed;
  background: white;
}

.single_task_action_dd_item:hover {
  background-color: rgba(0, 0, 0, 0.03);
  cursor: pointer;
  color: #333;
}

.single_task_action_dd_menu {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.border__left {
  position: relative;
}
.border__left::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #bababa;
  z-index: 1;
}
.border__left:hover::before {
  background-color: #4580ed;
  border-color: #4580ed;
  color: #fff;
}
.border__left.reply_button > button {
  display: flex;
  align-items: center;
  background: #2c2e30 !important;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  font-family: Inter;
}
.border__left.reply_button > button:hover {
  background: #141719 !important;
}
.border__left.reply_button::before {
  content: "+";
  width: 1.5rem;
  height: 1.5rem;
  top: 6px;
  left: -0.8rem;
  font-size: 22px;
  display: flex;
  align-items: center;
  line-height: 1.9px;
  justify-content: center;
  font-family: Inter;
}

.delete-confirm-button,
.delete-deny-button {
  padding: 8px 16px;
  border-radius: 6px;
}

.delete-confirm-button {
  margin-right: 8px;
  color: #fff;
  background-color: #E73819;
  border: 1px solid #E73819;
}
.delete-confirm-button:hover {
  background-color: #DE3112;
  border: 1px solid #DE3112;
}

.delete-deny-button {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.delete-deny-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sp1_comment_extend_menu {
  position: relative;
  margin-left: auto;
  align-self: flex-start;
  font-family: Inter;
}

.sp1_comment_extend_menu__items {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  width: 130px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sp1_comment_extend_menu__item {
  padding: 6px 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  border-radius: 6px;
  overflow: hidden;
}
.sp1_comment_extend_menu__item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}
.sp1_comment_extend_menu__item.--delete:hover {
  background-color: #f5320d;
  color: #fef3f1;
}
.sp1_comment_extend_menu__item.--disabled {
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
}

.sp1_comment_extend_menu-btn {
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sp1_comment_extend_menu-btn:hover {
  background-color: #f3f3f3;
}

.sp1_comment_deleted_status {
  padding: 10px 16px;
  color: #e41212;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgb(255, 243, 244);
  display: flex;
  align-items: center;
}
.sp1_comment_deleted_status button {
  width: 32px;
  color: #9d9d9d;
  background-color: transparent;
  margin-left: auto;
}

.single_task_revision_popover_panel {
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  font-size: 13px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  /* width: clamp(255px, 100%, 350px); */
  max-width: 600px;
  max-height: 450px;
  overflow-y: auto;
}

.text-hover-underline:hover {
  text-decoration: underline;
}

.word-break {
  -ms-word-break: break-all;
  word-break: break-all;
}

@keyframes glice {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
.skeleton-loading {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px;
  color: transparent !important;
  background-color: #f0f0f0;
  background-image: linear-gradient(45deg, #f0f0f0, #e0e0e0, #f0f0f0);
  background-size: 200px 100%;
  animation: glice 2s infinite linear, pulse 2s infinite;
}

.hover-underline:hover {
  text-decoration: underline;
}

.cnx_body-overflow-hidden {
  overflow: hidden;
}

/* dropdown */
.sp1-dropdown-menu {
  min-width: 100%;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.sp1-item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-bold:hover {
  font-weight: bold;
}

/* modal */
.sp1_modal-content-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.sp1_modal-panel {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90vw;
  min-width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 300px;
  margin-inline: auto;
  margin-top: 40px;
  background: #fff;
  border-radius: 10px;
}

.sp1_modal-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sp1_modal-close {
  height: 24px;
  width: 24px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sp1_modal-body {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* end Modal */
.multine-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.multiline-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.singleline-ellipsis {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

abbr {
  text-decoration: none !important;
  cursor: default !important;
}

.whitespace-nowrap {
  white-space: nowrap !important;
}

.cnx_dropdown__item {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.font-medium {
  font-weight: 500;
}

.highlight {
  background-color: blue;
  color: white;
}

/* comment editor text */
.wysiwyg-hashtag {
  color: #1c92a7;
  font-family: cursive;
}

/*# sourceMappingURL=seopage1.css.map*/