.listDropdownContainer {
  border-radius: 9px;
  width: 60%;
}

.listDropdown {
  border-radius: 9px;
  background: #f6f9ff;
  padding: 16px 20px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.listDropdownMenu{
  background: #f6f9ff !important;
}