#cnx_dropdown__menu_open__parentQuestion {
  max-width: 400px !important;
  width: 100% !important;
}


.cnx_dropdown_show_items_sales {
  background-color: #EDF8FF;
  padding: 0 10px;
  color: #1492E6;
}


.cnx_dropdown__menu_open--multiselectShow{
  max-width: 235px !important;
  width: 100% !important;

}