.projects_page_wrapper {
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 27px;
}

/* filter bar */
.projects_default_filter_bar_wrapper {
    display: block;
}

.projects_filter_drawer_wrapper {
    display: none;
}

.projects_page_filter_bar {
    padding: 30px;
    background-color: var(--primary-white);
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
}

.projects_page_filter_bar_header {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.filter_bar_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 15px;
}

.filter_bar_title {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.filter_sub_wrapper {
    margin-bottom: 20px;
}

.filter_bar_clear {
    color: var(--primary-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
}

.filter_check_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
}

.filter_check_label {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

/* Unchecked styles */
#projects_page_filter input[type=checkbox] {
    position: relative;
    border: 1px solid var(--primary-blue);
    border-radius: 5px;
    background: none;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    opacity: .5;
}

#projects_page_filter input[type=checkbox]:hover {
    opacity: 1;
}

#projects_page_filter input[type=checkbox]:checked {
    background-color: var(--primary-blue);
    opacity: 1;
}

#projects_page_filter input[type=checkbox]:before {
    content: '';
    position: absolute;
    right: 50%;
    top: 50%;
    width: 4px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    margin: -1px -1px 0 -1px;
    transform: rotate(45deg) translate(-50%, -50%);
    z-index: 2;
}

.filter_input_wrapper {
    margin-bottom: 16px;
}

.filter_input_label {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filter_view_all_button {
    color: var(--primary-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    background-color: transparent;
    margin-top: 15px;
}


/* projects page contents */
.projects_page_contents {
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
    background-color: var(--primary-white);
}

.projects_content_header {
    padding: 28px 30px;
    background-color: var(--primary-blue);
    border-radius: 9px 9px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.projects_content_header_title {
    color: var(--primary-white);
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_title {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects_content_alert_title,
.header_results {
    color: var(--primary-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects_content_header_sort_label {
    color: var(--primary-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 9px;
}

.projects_content_header_sort .ant-select-selector {
    border: 1px solid var(--primary-white) !important;
    color: var(--primary-white) !important;
}

.projects_content_header_sort .ant-select-arrow {
    color: var(--primary-white) !important;
}

.projects_content_body {
    padding: 30px;
    background-color: var(--primary-white);
    border-radius: 0 0 9px 9px;
}

/* project card style */
.project_card_wrapper {
    padding: 25px 0px;
    border-bottom: 1px solid var(--light-gray);
}

.project_card_wrapper:first-child {
    padding-top: 0px;
}

.project_card_wrapper:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.project_normal_text {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project_card_header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.project_card_bids_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.project_card_title {
    color: var(--primary-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project_card_title:hover {
    color: var(--primary-blue);
    text-decoration: underline;
    cursor: pointer;
}

.project_card_price {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project_card_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}

/* .project_card_description {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
} */

.project_card_description {
    position: relative;
}

.truncated {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded {
    display: block;
    max-width: 100%;
}

.more-btn,
.less-btn {
    color: blue;
    cursor: pointer;
    margin-left: 5px;
}

.more-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    padding-left: 5px;
}

.project_card_skills {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.project_card_skill {
    color: var(--primary-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.project_card_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.project_card_date,
.project_card_rating {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project_card_rating_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.project_card_react_rating {
    display: flex;
    align-items: center;
    gap: 12px;
}

.projects_filter_btn {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--primary-white);
    /* border: 1px solid var(--primary-white); */
    border-radius: 5px;
    background: none;
    padding: 8px 12px;
}


/* responsive css */
/* @media only screen and (width >=1200px) {
    .projects_page_wrapper {
        border-radius: 9px;
        border: 1px solid var(--light-blue-2);
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 27px;
    }

    .projects_default_filter_bar_wrapper {
        display: block;
    }

    .projects_filter_drawer_wrapper {
        display: none;
    }
} */

/*********** media queries for responsive design  ******************/
@media only screen and (min-width: 1201px) and (max-width: 1600px) {}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .projects_page_wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .projects_default_filter_bar_wrapper {
        display: none;
    }

    .projects_filter_drawer_wrapper {
        display: block;
    }

    .projects_content_header {
        padding: 15px;
        justify-content: flex-end;
        gap: 20px;
    }

    .projects_content_body {
        padding: 15px;
    }

    .projects_content_alert_title,
    .projects_content_header_title {
        display: none;
    }

    .project_card_title {
        font-size: 18px;
    }

    .project_normal_text,
    .project_card_price,
    .project_card_skill,
    .project_card_date {
        font-size: 14px;
    }


}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .projects_page_wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .projects_default_filter_bar_wrapper {
        display: none;
    }

    .projects_filter_drawer_wrapper {
        display: block;
    }

    .projects_content_header {
        padding: 15px;
        justify-content: flex-end;
        gap: 20px;
    }

    .projects_content_body {
        padding: 15px;
    }

    .projects_content_alert_title,
    .projects_content_header_title {
        display: none;
    }

    .project_card_title {
        font-size: 18px;
    }

    .project_normal_text,
    .project_card_price,
    .project_card_skill,
    .project_card_date {
        font-size: 14px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .projects_page_wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .projects_default_filter_bar_wrapper {
        display: none;
    }

    .projects_filter_drawer_wrapper {
        display: block;
    }

    .projects_content_header {
        padding: 15px;
        justify-content: flex-end;
        gap: 20px;
    }

    .projects_content_body {
        padding: 15px;
    }

    .projects_content_alert_title,
    .projects_content_header_title {
        display: none;
    }

    .project_card_title {
        font-size: 18px;
    }

    .project_normal_text,
    .project_card_price,
    .project_card_skill,
    .project_card_date {
        font-size: 14px;
    }

}

@media only screen and (max-width: 576px) {
    .projects_page_wrapper {
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .projects_default_filter_bar_wrapper {
        display: none;
    }

    .projects_filter_drawer_wrapper {
        display: block;
    }

    .projects_content_header {
        padding: 15px;
        justify-content: flex-end;
        gap: 20px;
    }

    .projects_content_body {
        padding: 15px;
    }

    .projects_content_alert_title,
    .projects_content_header_title {
        display: none;
    }

    .project_card_title {
        font-size: 18px;
    }

    .project_normal_text,
    .project_card_price,
    .project_card_skill,
    .project_card_date {
        font-size: 14px;
    }
}