.table-row-odd {
    background-color: #E8F4FC;
}

.bid_insights_project_name {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.bid_insights_actions {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

.bid_insights_actions button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.bid_insights_client_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.bid_insights_client_info_inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.bid_insights_chat_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid var(--secondary-gray-4);
    padding: 4px 12px;
    background-color: transparent;
}

/*********** media queries for responsive design  ******************/
@media only screen and (min-width: 1201px) and (max-width: 1600px) {}

@media only screen and (min-width: 993px) and (max-width: 1200px) {}

@media only screen and (min-width: 769px) and (max-width: 992px) {}

@media only screen and (min-width: 576px) and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}