.customModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1D82F5;
  color: white;
  padding: 16px 30px;
  border-radius: 8px 8px 0 0;
}

.customModalHeaderWithSticky{
  position: sticky;
  top: 0;
  z-index: 5;
}

.customModalHeader h2 {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #FFF;
  margin-bottom: 0;
}

.customModalHeader button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 26px;
  cursor: pointer;
}
.customModalHeader svg {
  fill: white;
}

@media screen and (max-width: 768px) {
  .customModalHeader {
    padding: 16px 20px;
  }
  .customModalHeader h2 {
    font-size: 20px;
  }
  
}