        .sp1_task_btn_group{
            border-color: #E7EFFC;
        }

        .sp1_task_btn_group button{
            border-color: rgba(0,0,0,.3);
        }

        .sp1_task_card{
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,.05);
            box-shadow: 0 1px 3px rgba(0,0,0,.05);
        }

        .sp1_task_card--head{
            padding: 10px 16px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background:rgba(231, 239, 252, 1);
            font-size: 16px;
            font-weight: 600;
        }

        .sp1_task_card--head > .__icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background:rgba(231, 239, 252, 1);
            color:rgba(227, 62, 79, 1);
            font-size: 14px;
        }

        .sp1_task_card--body{
            padding: 10px 16px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            overflow: hidden;
            max-height: 300px;
            overflow-y: auto;
            font-size: 14px;
        }

        .sp1_task_card--body::-webkit-scrollbar{ 
            width: 4px;
            border-radius: 4px !important;
        } 

        .sp1_task_card--body::-webkit-scrollbar-track{
            background: rgb(240, 240, 240) !important;
            border-radius: 4px;
            padding: 0 !important;
        }

        .sp1_task_card--body::-webkit-scrollbar-thumb{
            border: none;
        }

        .sp1_task_card--sub-card{
            margin-bottom: 16px;
            padding-bottom: 16px;

            p{
                margin-bottom: 5px;
                &:empty{
                    display: none;
                }
            }

            ul{
                margin-left: 40px !important;
            }

            li{
                list-style: unset !important;
            }
        }

        .sp1_task_card--sub-card:not(:last-child){
            border-bottom: 1px solid rgba(0,0,0,.05);
        }

        .sp1_tc_sc-inx{
            padding: 10px;
            border-radius: 16px;
            background: #f6f9ff;
            width: fit-content;
            float: left;
            margin: 0 10px 10px 0;
            border: 1px solid rgba(0,0,0,.05);
        }

        .sp1_tc_sc-inx > h2{
            font-weight: bold;
            color:rgba(227, 62, 79, 1);
            margin: 0;
            font-size: 24px;
        }

        .sp1_task_right_card{
            padding: 16px 24px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 0 1px 3px rgba(0,0,0,.05);
            max-height: 180px;
            position: relative;
        }

        .sp1_task_right_card--body{
            height: 110px; 
            overflow-y: auto;
            padding-bottom: 5px;
            padding-right: 5px
        }

        .sp1_task_right_card--body::-webkit-scrollbar{ 
            width: 4px;
            border-radius: 4px !important;
        } 

        .sp1_task_right_card--body::-webkit-scrollbar-track{
            background: rgb(240, 240, 240) !important;
            border-radius: 4px;
            padding: 0 !important;
        }

        .sp1_task_right_card--body::-webkit-scrollbar-thumb{
            border: none;
        }

        .sp1_tark_add_item{
            color: #777;
            padding: 2px 10px;
            border-radius: 6px;
            font-weight: 500 !important;
        }

        .sp1_tark_add_item:hover{
            background: rgba(0,0,0,.05);
        }

        .sp1_task_righ_action_btn{
            color: #777;
        }

        .sp1_task_righ_action_btn:hover{
            color: var(--header_color);
        }

        .sp1_tark_right_item:not(:last-child){
            border: 0;
            border-bottom: 1px solid rgba(0,0,0,.1);
            border-style: dashed;
        }

        .sp1_tark_right_item{ 
            a{color: #777;}
            font-size: 13px;
        }

    

        .sp1_task_right_dl_toggle{
            padding: 0;
            width: fit-content;
            height: fit-content;
            border-radius: 50%;
            font-size: 24px;
            background: transparent;
            position: absolute;
            top: 50%;
            left: -10px;
        }

        .sp1_task_comment_modal{
            width: 800px;
            max-height: 90vh;
            overflow: hidden;
            overflow-y: auto; 
            padding:24px;
            left: 12px !important;
            top: -80px !important;
            border: 0.5px solid #84caf8 !important;
            box-shadow: 0 0 10px rgba(0,0,0,.1);
            background: rgb(250, 250, 252);
            border-radius: 16px; 
        }


/* comment */

.sp1_task_comments{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}


.sp1_task_write_comment{
    display: flex; 
    gap: 10px;
}

.sp1_task_comment_send_box{ 
    display: flex;
    width: 100%;
    
    & .__avatar{
        width: 48px;
        height: 48px;
        display: inline-block;

    }

    & .__send-box{
        flex: 1;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 700px;

       & .__box{
            width: 100%;
            background: #fff;
            padding: 10px 12px;
            border: 1px solid #e1e1e1;
            border-radius: 6px;
            cursor: pointer;
            span{
                color: #777;
            } 

            &.__reply_text{
                background: #f5f9fd;
                border: none;
                padding-left: 14px;
                border-radius: 0;

                div{  
                    border-left: 1px solid rgba(53, 129, 222, .3);
                    padding-left: 28px;
                }
            }
        }
    }
}

.sp1_task_comment_list_items{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 550px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.sp1_task_comment_list_items::-webkit-scrollbar{ 
    width: 4px;
    border-radius: 4px !important;
} 

.sp1_task_comment_list_items::-webkit-scrollbar-track{
    background: rgb(240, 240, 240) !important;
    border-radius: 4px;
    padding: 0 !important;
}

.sp1_task_comment_list_items::-webkit-scrollbar-thumb{
    border: none;
}

.sp1_task_comments{
    width: 100%; 
}


.sp1_task_comment_actions{
    width: 100%;
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: #777;
    padding-left: 16px;

    a{
        color: #777;
        font-size: 14px;
        
        &:hover{
            text-decoration: underline;
            color:#333 !important;
        }
    }

    & .replies_count{
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        margin-left: 16px;

        & > .reply_auth_avatar{
            position: relative;
            display: flex;
            align-items: center;
            width: 32px; 

            & > div{
                display: block;
                position: absolute;
                left: 0; 
                border-radius: 50%;
                img{
                    border: 2px solid rgb(237, 237, 237);
                    box-shadow: 0 0 3px rgba(0,0,0,.1);
                }
            }   
        }

        &:hover{
            text-decoration: underline;
            color: rgb(39, 111, 236);
        }
    }
}


.sp1_task_comment_replies{
    width: 100%;
    max-width: 650px;
}



.sp1_task_card--sub-card-modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp1_task_card--sub-card-modal-content{
    width: 100%;
    max-width: 60vw;
    background: #fff;
    margin: auto; 
    overflow: hidden;
    border-radius: 10px; 

    & .__header{
        background-color: #ececec;
        padding: 6px 10px;
        margin-bottom: 10px;
        border: 1px solid #E7EFFC;
        button{
            margin-left: auto;
            font-size: 18px;
            margin-right: 10px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            color: #5c5c5c;

            &:hover{
                background-color:#f3f3f3;
                color: #525252; 
            }
        }
    }

    & .__content{
        height: 100%;
        max-height: 70vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 16px 32px;
    }

    & .__footer{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 1px dashed #eeeeee;
        box-shadow: 0 -2px 6px rgba(0,0,0,.1);

        button{
            background-color: #c4e8ff;
        }
    }
}

  

// ck editor holder 
.ck-editor-holder{
    background-color: #fff;
    border: 1px solid #e1e1e1;
    position: relative;  
    width: 100%; 
} 


.sp1_task_comment_list{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}



// single comment view

.sp1_st_cnt_modal{
    background: #00000034 !important;
}

.sp1_st_comment_preview{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp1_st_comment_panel{
    width: 100%;
    max-width: 50vw;
    background: #fff;
    border-radius: 10px;
    padding: 16px; 

    &> div > ._close-modal{
        background: #f5f5f5;
        border: none;
        margin-left: auto;

        i{
            color: #b1b1b1;
        }

        &:hover{
            background: #e7e7e7;
            color: #fff;
            i{
                color: #575757;
            }
        }
    }

    & > ._comment_list{
        max-height: 80vh;
        overflow-x: hidden;
        overflow-y: auto; 
        padding-right: 10px;
    }
}


.sp1_st_write_comment-sendbox{
    max-width: 100%;
    display: -ms-grid;
    display: -moz-grid;
    display: grid;
    gap: 10px;
    grid-template-columns: 48px 1fr;
}


.sp1_st_write_comment_editor{
    padding-right: 16px; 

    & > .ck-content{
        min-height: 250px;
    }

    & > .ck-editor__editable_inline{
        border: 1px solid #ddd !important;
    }
}

.sp1_st_write_comment_editor_attach{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: rgb(0 0 0 / 3%);
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: rgba(30, 31, 32, 0.3);
    -ms-flex-direction: column;
    flex-direction: column;
}

.sp1_st_write_comment_editor_attach span{
    font-size: 14px;
    display: block;
    color: rgba(30, 31, 32, 0.664);
}

.sp1_st_write_comment_editor_attach:hover{ 
    background: rgb(0 0 0 / 10%);
}





// sub task

.sp1-subtask-form {

    &.--modal-panel{
        width: 50vw;
        height: 80vh;
        overflow-y: hidden;
        background: #FAFAFC ;
        border-radius: 16px;
        padding: 16px; 
        border: 1px solid var(--header_color);

        &-header{
            display: flex;
            align-items: center;
            padding-bottom: 16px;
            justify-content: space-between;
            border-bottom: 1px solid rgb(0 0 0 / 10%);

            h6{margin: 0;}
        }

        &-body{
            padding-inline: 24px;
            max-height: 70vh;
            overflow-x: hidden;
            overflow-y: auto;
        }
    } 
}


.sp1-selection-display{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px; 

    i.fa-sort{
        color: #d5d7da;
    }
}

.sp1-selection-display-button{
    background-color: transparent;
    position: relative;
    & > .__icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
        color: rgba(138, 142, 146, 0.664)
    }
}

.sp1-select-options{
    background: #fff;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    z-index: 2;
}

.sp1-select-option{
    padding: 10px;
    cursor: default;
    user-select: none;
    color: #777;

    &:hover{
        background: rgb(24, 96, 240);
        color: rgb(240, 245, 253);
    }

    &.active{
        background: rgb(24, 96, 240);
        color: rgb(240, 245, 253);
    }
}

.sp1-select-option-nodata{ 
    padding: 10px;
    cursor: default;
    user-select: none;
    color: #777;
}

.ck-editor__editable{
    background: #fff; 
}

.sp1_sub-task-file-upload{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 8px;
    width: 120px;
    height: 120px;
    background-color: #fff;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: background .3s ease-in-out;
    position: relative;
    overflow: hidden;

    i.fa-cloud-arrow-up{
        font-size: 2rem;
        margin-bottom: 10px;
        color: rgb(0 0 0 / 60%);
    }

    &:hover{
        background: rgb(0 0 0 / 8%);
        cursor: pointer;
    }

    & > .__remove--btn{
        position: absolute;
        top: 4px;
        right: 4px;
        padding-inline: 6px;
        background: rgb(255, 63, 29);
        border: 0;
        outline: 0;
        opacity: 0;
        transition: opacity .4s ease-in-out;

        &:hover{ 
            background: rgb(255, 38, 0);
        }
    }

    &:hover > .__remove--btn{
        opacity: 1;
    }

    & > input[type=file]{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.uploaded-file-preview{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
    position: relative;
    & > .__icon{
        width: 40px;
        height: 52px;
        position: relative; 
    }
}

.uploaded-file-ext{
    display: block;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    background: #fff;
    position: absolute;
    bottom: 5px ; 
    left: 0;
    transform-origin: 50% 50%;
    font-weight: bold;
    font-size: 18px;  
}

.cursor-processing{
    cursor: progress !important;
}

.text-ellipsis{
    overflow-x: hidden;
    text-overflow:ellipsis !important;
}


// time log
.sp1_subtask_log-tbl{
    width: 100%;
    border-collapse: collapse;

    th{
        padding: 10px;
    }

    & > thead.__thead{
        background-color: rgba(29, 112, 236, 0.1);
    }

    td{
        padding: 4px 10px;
    }

    & > tbody.__tbody tr.__tbody_tr td.__tbody_td{
        border-bottom: 1px dashed rgb(0 0 0 / 10%);
    }



    & td._tbody_td_employee{
        & > img{
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }

    & td{
        font-size: 14px; 
    }
}

.sp1_time_log_emplyee_name{
    width: 100%;
    max-width: 150px;
    white-space: pre-wrap;
    line-break: strict;
    display: block;
}


.file-download-preview{
    color: inherit !important;
    width: 100%;
    height: 100%;
    &:hover{
        color: inherit !important
    }
}


.sp1_st_comment-view{
    p{
        padding: 0 !important;
        margin: 0 !important;
    }
}








// offset canvas
.sp1_subtask_offsetcanvas{
    width: 100%;
    height: 100%;
    max-width: 80vw;
    max-height: 90vh;
    background: #fff;
    border-radius: 10px;

    &--modal{
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999;
    }

    &--bar{
        border-bottom: 1px solid rgb(0 0 0 / 10%);
    }

    &--body{
        padding: 10px 16px;

        nav > .nav-tabs{
            & > .nav-link{
                padding: 6px 16px;
                font-weight: 500;
                color: #44454def;
            }
        }
    }
}