.marketplace_message_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.chat_list_section_wrapper,
.chat_action_section_wrapper,
.chat_box_section_wrapper {
    height: calc(100vh - 241px);
}

.chat_header_wrapper {
    padding: 10px 0px;
    background: var(--primary-blue);
    /* border-radius: 8px 8px 0px 0px; */
}

.chat_list_header {
    height: 78px;
    padding: 0px 29px;
    border-right: 1px solid var(--primary-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat_list_search {
    border: 1px solid var(--primary-white);
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    max-width: 293px;

}

.chat_list_search_input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background: transparent;
    color: var(--primary-white);
}

input::placeholder {
    color: var(--primary-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat_list_section_wrapper {
    border-left: 1px solid var(--light-blue-2);
    border-bottom: 1px solid var(--light-blue-2);
    border-bottom-left-radius: 9px;
}

.chat_list_item_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.chat_list_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px
}

.chat_list_title {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.chat_request {
    color: var(--primary-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.chat_list_wrapper {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 316px);
    overflow-y: auto;
}

.chat_list_item_content {
    flex: auto;
}

.chat_list_item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.chat_list_user_avatar {
    width: 45px;
    height: 45px;
    border-radius: 6px;
    border: 1px solid var(--light-gray);
    object-fit: cover;
    object-position: center;
}

.chat_list_item_names_wrapper {
    max-width: 164px;
    display: flex;
    gap: 4px;
}

.chat_list_item_name {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat_list_item_user_name {
    color: var(--secondary-gray);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat_list_item_date {
    color: var(--secondary-gray);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat_list_item_message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 6px;
}

.chat_list_item_text {
    max-width: 226px;
    color: var(--primary-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat_list_item_unread_count {
    color: var(--primary-white);
    background-color: var(--primary-red);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* chat box  */
.chat_box_header {
    height: 78px;
    padding: 0px 29px;
    border-right: 1px solid var(--primary-white);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat_box_header_content {
    color: var(--primary-white);
    display: flex;
    align-items: center;
    gap: 8px
}

.chat_user_avatar_wrapper {
    position: relative;
    display: inline-block;
}

.chat_user_avatar {
    width: 50px;
    height: 50px;
    border: 1px solid var(--primary-white);
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.active_status {
    position: absolute;
    bottom: 0;
    right: 0;
}

.chat_header_name_wrapper {
    display: flex;
    align-items: center;
    gap: 8px
}

.chat_header_name {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chat_header_user_name {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat_header_designation {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* chat action header  */
.chat_action_header {
    height: 78px;
    padding: 0px 29px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.chat_action_header_icons {
    display: flex;
    align-items: center;
    gap: 12px
}

.chat_action_header_icon {
    cursor: pointer;
    padding: 9px;
    border: 1px solid var(--primary-white);
    border-radius: 50%;

}

.chat_action_section_wrapper {
    border-right: 1px solid var(--light-blue-2);
    border-bottom: 1px solid var(--light-blue-2);
    border-bottom-right-radius: 9px;
    overflow-y: auto;
}

.chat_action_avatar_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.chat_action_avatar {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    border: 1px solid var(--primary-blue);
}

.chat_action_section_wrapper .active_status {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.chat_actions_wrapper {
    margin-top: 32px;
}

.chat_action_calling {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

.chat_action_divider {
    border: 1px solid var(--light-blue-2);
    margin: 20px 0px;
}

.chat_action_project_details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    cursor: pointer;
}

.chat_action_project_name {
    color: var(--primary-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat_action_project_date {
    color: var(--secondary-gray-2);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.chat_action_items {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.chat_action_toggle_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.chat_action_item_title {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.chat_action_item_description {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}