.table_asc_dec{
    height: 10px;
    color: #ccc;
    margin-bottom: 10px;
    margin-right: 6px;
    cursor:pointer;
}
.table_asc_dec::before{
    content: '\2191';
}
.table_asc_dec::after{
    content: '\2193'
}

.table_asc_dec.dec::before{
    color: #1D82F5;
}

.table_asc_dec.asc::after{
    color: #1D82F5;
}