.held_amount_table_wrapper {
    width: 100%;
    overflow-x: auto;
    border-radius: 16px;
}

.held_amount_table_td {
    font-weight: 500;
}

/* pay now modal  */

.pay_now_modal .ant-modal-header {
    background: #1492E6;
    padding: 16px 30px;
}

.pay_now_modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.pay_now_modal_header .pay_now_title {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pay_now_modal .ant-modal-content {
    padding: 0px;
}

.pay_now_modal .ant-modal-body {
    padding: 24px;
}

.pay_now_modal_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pay_now_modal .pay_now_balance_wrapper {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: #1077BB;
    padding: 11px 18px;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pay_now_balance_title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pay_now_modal_body {
    padding: 26px 0px;
}

/* Hide Table Header */
.hide-table-header .ant-table-thead {
    display: none;
}

.held_years_select .ant-select-selector {
    background-color: transparent !important;
    border: 0 !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-1u00c9r).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    box-shadow: none;
    outline: 0;
}

.held_years_select .ant-select-selection-item {
    text-align: right !important;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 12px;
}

.held_years_header span,
.held_amount_table_data {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.incentive_swal_confirm {
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.incentive_swal_desc {
    color: #1492E6;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 15px;
}

.swal2-confirm-custom {
    font-family: poppins, sans-serif;
    border: 1px solid #1492E6 !important;
    background-color: #1492E6 !important;
    color: #fff !important;
}

.swal2-cancel-custom {
    font-family: poppins, sans-serif;
    border: 1px solid #1492E6 !important;
    color: #1492E6 !important;
    background-color: #fff !important;
}

.swal2-cancel-custom :hover {
    background-color: #fff !important;
}

.held-amount-expanded-row {
    color: #fff !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.held-amount-expanded-title {
    text-align: center;
    flex: 1;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.expanded-held-amount {
    min-width: 214px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.disabled-row {
    background-color: #f5f5f5;
    opacity: 0.5;
    cursor: not-allowed !important;
    /* Change this color to your preferred background color */
}

:where(.css-dev-only-do-not-override-1u00c9r).ant-picker .ant-picker-input>input {
    font-size: 18px !important;
}