/* ******************************
    Common starts here
 ********************************* */

.incentive_wrapper {
    background: #F7FAFF;
    padding: 0px 35px;
    /* padding-bottom: 69.78px; */
    font-family: 'Poppins', sans-serif;
}

.incentive_inner_wrapper {
    background: #FFFFFF;
    padding: 35px;
    border-radius: 16px;
}

.title_wrapper {
    padding-left: 28px;
    margin-top: 50px;
}

.section_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.4px;
    margin-bottom: 23px;
}

.clickable_link {
    text-decoration: underline;
    cursor: pointer;
}

.custom_divider {
    height: 39px;
    width: 1px;
    background: #D8D8D8;
}

/* ******************************
    Common ends here
 ********************************* */


/* ********************************************
    Filter bar and point card starts here
 ********************************************** */
.filter_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 36px 0px;
}

.filter_bar_left,
.filter_bar_right {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.point_banner {
    display: flex;
    align-items: center;
    padding: 22px 29px;
    color: #FFFFFF;
    border-radius: 16px;
    gap: 28px;
    background-color: #F2F9FE;
}

.point_card {
    background-color: #1492E6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
    border-radius: 9px;
    padding: 24px;
}

.point_card_image_wrapper {
    padding: 8px;
    background-color: #4CA7E8;
    border-radius: 6px;
}

.secondary_point_card_image_wrapper {
    padding: 8px;
    background-color: #CEEBFF;
    border-radius: 6px;
}

.point_details_wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* ********************************************
    Filter bar and point card ends here
 ********************************************** */

/* ********************************************
    Ideal Vs Achieved starts here
 ********************************************** */

.ideal_vs_achieved_wrapper {
    padding: 22px 29px;
    margin-top: 32px;
    border-radius: 16px;
    background-color: #F2F9FE;
}

.chart_section_wrapper {
    padding: 22px 29px;
    margin-top: 20px;
    border-radius: 16px;
    background-color: #F2F9FE;
}

.chart_row_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin-bottom: 27px;
}

.chart_wrapper {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px;
    width: 50%;
}

.secondary_chart_wrapper {
    background-color: #E1F3FF;
    border-radius: 15px;
    padding: 25px;
    width: 50%;
}

/* ********************************************
    Ideal Vs Achieved ends here
 ********************************************** */


/* ******************************
    stats info  starts here
 ********************************* */
.stats_info_wrapper {
    background-color: #F2F9FE;
    padding: 22px 29px;
    border-radius: 16px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.stats_info_outer {
    max-width: 757px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.stats_score_outer {
    max-width: 457px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress_card_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.progress_card_desc_wrapper {
    min-width: 240px;
    width: 100%;
}

.progress_card_desc_pos {
    font-size: 14px;
    font-weight: 500;
    color: #000000;
}

.progress_card_desc_neg {
    font-size: 14px;
    font-weight: 500;
    color: #FF6666;
}

.progress_card_stats_wrapper {
    min-width: 277px;
    width: 100%;
}

.progress_card_stats_inner {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    font-size: 12px;
    font-weight: 500;
}

.stats_score_child {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.stats_info_icon_wrapper {
    padding: 8px;
    background: #CEEBFF;
    border-radius: 6px;
}

.stats_info_desc {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}

.stats_info_link {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    color: #FF6666;
}

.stats_info_note {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

/* ******************************
    stats info ends here
 ********************************* */

/* ******************************
 upSale/cross sale start here
********************************* */

.secondary_point_banner {
    display: flex;
    justify-content: space-between;
    padding: 22px 29px;
    color: #FFFFFF;
    border-radius: 10px;
    /* gap: 28px; */
    background-color: #E1F3FF;
}

.secondary_point_card_wrapper {
    width: 49.5%;
    display: flex;
    justify-content: center;
}

.secondary_point_card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* ******************************
 upSale/cross sale ends here
********************************* */