* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: "Segoe UI", "Microsoft YaHei";
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.wrapper-timezone2 {
    border: none;
    font-size: 1.3em;
    width: 100%;
    max-width: 185px;
    margin: 0 auto;
    text-align: center;
    /* background-color: #F3F9FF; */
    background-color: #379237;
    position: relative;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    color: #fff;
    cursor: pointer;
    padding: 6px 0;
    border-radius: 5px;
    opacity: .3;
    transition: all .5s ease-in-out;
}
.wrapper-timezone2:hover{
    opacity: 1;
}
.wrapper-timezone2:nth-child(2) {
    bottom: 100px;
}
.wrapper-timezone2:nth-child(3) {
    bottom: 180px;
}
.wrapper-timezone2 p {
    font-size: 9px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}
#mydiv {
    position: fixed;
    z-index: 9;
    text-align: center;
    bottom: 20px;
    right: 20px;
}
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
    width: 185px;
    bottom: 20px;
    right: 20px;
}

.timer_text2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    font-family: arial;
}
.timer2 {
    font-family: impact;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: 2px;
}

.clock2 {
    margin: 0;
    /* background: #EEEEEE; */
}

.clock2 .column {
    padding: 0px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* background: #ddd; */
    background: #fff;
    color: #FF0000;
    width: 50px;
    border-radius: 2px;
}

.days {
    display: none;
}

@media only screen and (max-width: 768px) {
    .wrapper-timezone2 {
        width: 100%;
        padding: 0 20px;
    }

    .timer2 {
        font-size: 35px;
    }
}

a.Accept {
    padding: 6px 10px;
    text-decoration: none;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #057E05;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.wrapper-timezone2 p {
  
    padding-bottom: 0px;

    margin: 0;
}
