.sp1_ad--container {
    width: 100%;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    background: rgb(0 0 0 / 30%);
}

.sp1_ad--container>.card {
    height: fit-content;
    width: 350px;
}

.sp1_ad--container>.card>.card-header {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}


.sp1_ad--container>.card>.card-body {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}

.sp1_ad--add-section {
    border-top: 1px solid #ccc;
    padding: 10px;
}


.sp1_ad--add-section>div {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 4px;
}

.sp1_ad--add-section>div:hover {
    background-color: #1d82f5;
    color: #fff;
    cursor: pointer;
}

.sp1_ad--add-section.hover>div {
    background-color: #1d82f5;
    color: #fff;
}


.sp1_section_modal--input-message {
    font-size: 12px;
    color: #7d7d7d;
    display: block;
    margin-left: auto;
}