.sp1_d--navbar-editable-title {
    display: flex;
    display: -ms-flexbox;
    position: absolute;
}


.sp1_d--navbar-editable-title>input {
    padding-right: 25px;
    border: none;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500;
    background: transparent;
    line-height: 1.5;
}


.sp1_d--navbar-editable-title>input:hover {
    background: #ededed;
}

.sp1_d--navbar-editable-title>i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    opacity: 0;
}

.sp1_d--navbar-editable-title:hover>i {
    opacity: 1;
}