.sp1_ins_sidebar {
    width: 250px;
    height: calc(100vh - 65px);
    overflow-y: auto;
    background: #fff;
    font-weight: 500;
    font-size: 15px;
    box-sizing: border-box;
    width: 250px;
    position: relative;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.sp1_ins_sidebar--search-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 16px;
    gap: 16px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    background: #fff;
}

.sp1_ins_sidebar--search-box {
    position: relative;
}

.sp1_ins_sidebar--search-box i {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 1;
    transform: translateY(-50%);
}

.sp1_ins_sidebar--search-box input {
    border: 1px solid #ccc;
    padding: 5px 10px 5px 32px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    position: relative;
    box-sizing: border-box;
    width: 190px;
    width: 100%;
    box-shadow: inset 0 1px 4px rgb(0 0 0 / 10%);
}

.sp1_ins_sidebar--search-box input:focus {
    border-color: #1382f1;
}


.sp1_ins_sidebar--action-btn {
    width: 36px;
    height: 32px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background: #079042;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}



.sp1_ins_sidebar--action-btn>i {
    font-size: 14px !important;
}

.sp1_ins_sidebar--action-btn:hover {
    background: #057837;
    cursor: pointer;
}


/* toggle */
.sp1_ins_sidebar--acc-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
}

.sp1_ins_sidebar--acc-title {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.sp1_ins_sidebar--acc-title i {
    font-size: 14px;
}

.sp1_ins_sidebar--acc-toggle.section {
    padding: 6px 10px 6px 20px;
    font-size: 14px;
}

.sp1_ins_sidebar--acc-tittle.section {
    padding: 16px 0;
}

.sp1_ins_sidebar--acc-toggle.section>.sp1_ins_sidebar--action-icon {
    opacity: 0;
    pointer-events: none;
}

.sp1_ins_sidebar--acc-toggle.section:hover>.sp1_ins_sidebar--action-icon {
    opacity: 1;
    pointer-events: all;
}



.sp1_ins_sidebar--link {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    justify-content: space-between;
    padding: 5px 10px;
    padding-left: 36px;
    color: #777;
    margin-bottom: 3px;
}

.sp1_ins_sidebar--link>span {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.sp1_ins_sidebar--link:hover {
    background: #f2f2f2;
    text-decoration: underline;
}


.sp1_ins_sidebar--link.active {
    color: #1382f1;
    background-color: rgb(239, 241, 247);
}

.sp1_ins_sidebar--link.empty {
    color: #999;
    background-color: #fff;
    text-decoration: none;
}

.sp1_ins_sidebar--link>i.move {
    color: #777;
    display: none;
}

.sp1_ins_sidebar--link:hover>i.move {
    display: inline-block;
    text-decoration: none;
}

.sp1_ins_sidebar--link>svg {
    min-width: 20px;
    min-height: 24px;
}


.sp1_ins_sidebar--action-icon {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sp1_ins_sidebar--action-icon:hover {
    background: #f3f3f3;
}

.sp1_ins_sidebar--action-dd-menu {
    background: #fff;
    width: 250px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid rgb(0 0 0 / 10%);
    box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
}

.sp1_ins_sidebar--action-dd-menu>a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    font-size: 15px;
    color: #333;
    border-radius: 4px;
}

.sp1_ins_sidebar--action-dd-menu>a:hover {
    background: #1d82f5;
    color: #fff !important;
}

.sp1_ins_sidebar--action-dd-menu>a>i {
    font-size: 14px;
}


.sp1_ins_sidebar--action-dd-menu>a.delete_disable {
    color: #aaa;
}

.sp1_ins_sidebar--action-dd-menu>a.delete_disable:hover {
    background: transparent;
    color: #aaa !important;
    cursor: not-allowed;
}

.sp1_ins_sidebar--search-box-dd-menu {
    width: 200px;
}


/* ============= Modal ============= */
.ps1_modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}

.sp1_ins_sell_dm--container {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
    display: flex;
    justify-content: center;
}

.sp1_ins_sell_dm--card {
    width: 650px;
    box-sizing: border-box;
}

.sp1_ins_sell_dm--card>.card-header {
    font-size: 16px;
    font-weight: 600;
}

.sp1_ins_sell_dm--card_body {
    height: fit-content;
    padding: 0 10px;
}


.sp1_ins_sell_dm--entities {
    display: flex;
    flex-direction: column;
    min-height: 300px;
    gap: 10px;
    border-right: 1px solid rgb(0 0 0 / 10%);
    padding: 16px;
    height: 100%;
}

.sp1_ins_sell_dm--entities>span {
    display: block;
    font-weight: 600;
    font-size: 11px;
    color: #555;
}

.sp1_ins_sell_dm--entity {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    border-radius: 4px;
    text-align: left;
    padding: 16px;
    cursor: pointer;
}

.sp1_ins_sell_dm--entity>i {
    font-size: 20px;
}

.sp1_ins_sell_dm--entity:hover {
    background: rgb(0 0 0 / 3%);
}

.sp1_ins_sell_dm--entity:active {
    background: #1382f1;
    color: #fff;
}

.sp1_ins_sell_dm--entity.active {
    color: #1382f1;
    background: #f5faff;
    font-weight: 500;
}

.sp1_ins_sell_dm--types {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 16px;
}

.sp1_ins_sell_dm--types>span {
    display: block;
    font-weight: 600;
    font-size: 11px;
    color: #555;
}

.sp1_ins_sell_dm--type {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 4px;
    width: 100%;
}

.sp1_ins_sell_dm--type>div {
    width: 80%
}

.sp1_ins_sell_dm--type>div>span {
    font-size: 14px;
}

.sp1_ins_sell_dm--type>div>div {
    padding: 0;
}

.sp1_ins_sell_dm--type>div>div {
    font-size: 14px;
    font-weight: 400;
}


.sp1_ins_sell_dm--type:hover {
    cursor: pointer;
    background: rgb(0 0 0 / 3%);
}

.sp1_ins_sell_dm--type:active {
    background: #1382f1;
    color: #fff;
}

.sp1_ins_sell_dm--type.active {
    color: #1382f1;
    background: #f5faff;
    font-weight: 500;
}

.sp1_ins_sell_dm--type.active>div>span {
    font-weight: 600;
}



/* =========== End Modal =========== */

/* goals form  */
.sp1_sell_df--container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 8px;
    width: 100%;
}

.sp1_sell_df--item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.sp1_sell_df--title {
    width: 180px;
    text-align: right;
    font-size: 16px;
}

.sp1_sell_df--control {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 14px;
    position: relative;
}

.sp1_sell_df--datepicker {
    background: transparent;
}

.react-datepicker__tab-loop__start {
    gap: 0 !important;
    display: none;
}


.sp1_sell_df--circle {
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-left: auto;
    position: relative;
}

.sp1_sell_df--circle:not(:last-child)::after {
    content: '';
    position: absolute;
    top: -2px;
    left: 3px;
    width: 1px;
    height: 50px;
    background: #ccc;
}

.sp1_sell_df--period {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: inset 0 0 3px rgb(0 0 0 / 10%);
}

.sp1_sell_df--period-input {
    width: 100px !important;
}

.sp1_sell_df--control.time_period::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    left: -32px;
    background: #fff;
    z-index: 2;
}

.sp1_sell_df--control.time_period:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: 50%;
    z-index: 1;
}

.sp1_clear_time {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    padding: 0 4px;
    font-size: 16px;
    margin-top: -0.15rem;
}

/* goal form end */

/* assignee dropdown  */

.sp1__asf--toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    width: 100%;
    border: 1px solid rgb(0 0 0/20%);
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    box-shadow: inset 0 0 3px rgb(0 0 0 / 10%);
}


.sp1__asf--menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    background: #fff;
    z-index: 100;
    border-radius: 6px;
    border: 1px solid rgb(0 0 0 / 15%);
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    padding: 10px;
}

.sp1__asf--item {
    border-radius: 4px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    gap: 10;
}

.sp1__asf--item>span {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}


.sp1__asf--item.hover {
    color: #fff;
    background-color: var(--header_color);
}

.sp1__asf--item>i.fa-check {
    display: inline-block;
    color: var(--header_color);
}

.sp1__asf--item:hover>i.fa-check {
    color: #fff;
}

/* assignee dropdown end */