@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.cnx_divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 6px 0;
  background-color: red;
  border-bottom: 1px solid #E0E0E0;
}

/* ui */

/* Dropdown */

.dropdown {
  position: relative;
  display: inline-block;
}

.cnx_dropdown__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  cursor: pointer;
}

.cnx_dropdown__menu {
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
}

.cnx_dropdown__item {
  padding: 5px 10px;
}

.cnx_dropdown__item:hover {
    background-color: #f5f5f5;
  }

/* search box */

.cnx__ins__ui_search {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.cnx__ins__ui_search_input {
  padding: 6px 10px 6px 30px;
  border-radius: 4px;
  border: 1px solid rgba(33,35,44,0.24);
  font-size: 14px;
  font-weight: 500;
  width: 100%;
}

.cnx__ins__ui_search_input:focus {
    outline: none;
    border-color: rgba(25, 114, 247, 0.48);
  }

.cnx__ins__ui_search_icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgba(33,35,44,0.24);
}

.cnx__ins__ui_search_icon_svg {
  width: 14px;
  height: 14px;
  margin-top: 0.25rem;
}

.cnx__ins__ui_search_input:focus + .cnx__ins__ui_search_icon > .cnx__ins__ui_search_icon_svg {
    fill: #1972f7;
  }

/* button */

.cnx__btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 1px solid #1967f8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.cnx__btn > .cnx__btn_icon {
    font-size: 18px;
    padding: 0;
    margin: 0;
  }

.cnx__btn:Hover {
    cursor: pointer;
    background-color: rgba(0,0,0, .8);
    border-color: rgba(0,0,0, .8);
  }

/* button veriant */

/* primary */

.cnx__btn_primary {
    background-color: #1967f8;
    border-color: #1967f8;
    color: #fff;
  }

.cnx__btn_primary:hover {
      background-color: rgba(0,0,0, .8);
      border-color: rgba(0,0,0, .8);
    }

.cnx__btn_primary > .cnx__btn_icon {
    color: #fff;
  }

/* secondary */

.cnx__btn_secondary {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    color: #000;
  }

.cnx__btn_secondary:hover {
      background-color: rgba(0,0,0, .8);
      color: #fff;
      border-color: rgba(0,0,0, .8);
    }

.cnx__btn_secondary > .cnx__btn_icon {
    color: #000;
  }

/* tertiary */

.cnx__btn_tertiary {
    background-color: #fff;
    border-color: #dadada;
    color: #383838;
  }

.cnx__btn_tertiary:hover {
      background-color: #f1f1f1;
      border-color: #dadada;
    }

/* success */

.cnx__btn_success {
    background-color: #01a545;
    border-color: #01a545;
    color: #fff;
  }

.cnx__btn_success:hover {
      background-color: #018839;
      border-color: #018839;
    }

.cnx__btn_tertiary > .cnx__btn_icon {
    color: #383838;
  }

/* button sizes */

.cnx__btn_lg {
    padding: 15px 30px;
    font-size: 18px;
  }

.cnx__btn_lg > .cnx__btn_icon {
    font-size: 20px;
  }

.cnx__btn_md {
    padding: 10px 20px;
    font-size: 16px;
  }

.cnx__btn_md > .cnx__btn_icon {
    font-size: 16px;
  }

.cnx__btn_sm {
    padding: 5px 10px;
    font-size: 14px;
  }

.cnx__btn_sm > .cnx__btn_icon {
    font-size: 14px;
  }

/* disable */

.cnx__btn_disabled:disabled {
    background-color: #e4e4e4;
    border-color: #e4e4e4;
    color: #000;
    cursor: not-allowed;
  }

.cnx__btn_success.cnx__btn_disabled:disabled {
    background-color: #3e9763;
    border-color: #01a545;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.5;
  }

/* tooltip */

.cnx__ins__ui_tooltip {
  z-index: 999;
  background-color: #303030;
  color: #ececec;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
}

/* tooltip arrow */

.cnx__ins__ui_tooltip_arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #303030 transparent;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
}

.cnx_modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 999;
}

/* card */

.cnx_card {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  box-sizing: border-box;
  position: relative;
}

.cnx_card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-left: 16px;
  height: 45px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
}

.cnx_card__header > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 4px;
    transition: all 0.3s ease;
    border-radius: 4px;
  }

.cnx_card__header > button > svg {
      width: 18px;
      height: 18px;
      fill: #303030;
      margin-top: 0.25rem;
    }

.cnx_card__header > button:hover {
      background-color: #e7e7e7;
    }

.cnx_card__body {
  padding: 16px;
  height: 100%;
}

.cnx_card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  height: 45px;
  background-color: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.cnx_range_date_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

.cnx_range_date{
  min-width: 100%;
  padding: 7px 10px;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #cecece;
  outline: none;
}

.cnx_range_date_clear {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cnx_range_date_clear::after {
    color: black !important;
    font-size: 20px !important;
    background: transparent !important;
  }

.cnx_range_date_clear::after {
    padding: 0;
  }

/* accordion menu */

.cnx_accordion {
  position: relative;
}

.cnx_accordion_item_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 500;
  }

/* icon  */

.cnx_accordion_item_header_icon {
      font-size: 18px;
    }

/* accordion menu body */

.cnx_accordion_item_body {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
  }

/* accordion menu body text */

.cnx_accordion_item_body_text {
      margin-bottom: 0;
    }

.cnx__text {
  display: flex;
  align-items: center;
}

.cnx__text > span {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }

.cnx__text > span {
    display: inline-block;
  }

.cnx__text > span.__highlight {
      color: #000;
      font-weight: 600;
      background: #FFFF00;
    }

/* form */

.cnx__ins__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 14px;
  color: #575757;
  font-weight: 500;
  gap: 6px;
}

.cnx__ins__input {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.cnx__ins__input:focus {
    border: 1px solid #1153e2;
  }

/* components */

.cnx_ins__sidebar {
  width: 250px;
  min-width: 250px;
  height: calc(100vh - 60px);
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  box-sizing: border-box;
  position: relative;
  overflow-y: auto;
}

.cnx_ins__sidebar_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cnx_ins__sidebar_btn {
  padding: 7px 10px;
  background-color: #1d8603;
  border-color: #1d8603;
}

.cnx_ins__sidebar_header_dd {
  min-width: 180px;
  padding: 5px;
}

.cnx_ins__sidebar_header_dd_item {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 5px;
  white-space: nowrap;
}

.cnx_ins__sidebar_header_dd_item > i {
    font-size: 16px;
  }

.cnx_ins__sidebar_header_dd_item > span {
    font-weight: 500;
  }

.cnx_ins__sidebar_header_dd_item:hover {
    color: #fff;
    background-color: #086de0;
  }

.cnx_ins__sidebar_header_dd_item:hover > svg {
    fill: #fff;
  }

/* dashboard content */

.cnx_ins__sidebar_content {
  overflow-y: auto;
}

.cnx_ins__sidebar_dashboards_header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  justify-content: space-between;
}

.cnx_ins__sidebar_dashboards_header > .__accordion {
    padding: 0;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }

.cnx_ins__sidebar_dashboards_header.__inner {
    padding-left: 20px;
    width: 100%;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    color: #555555;
  }

.cnx_ins__sidebar_dashboards_title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

.cnx_ins__sidebar_dashboards_title > i.fa-chevron-down,
    .cnx_ins__sidebar_dashboards_title > i.fa-chevron-right {
    font-size: 12px;
  }

.cnx_ins__sidebar_dashboards_title.__inner {
    font-weight: 500;
  }

.cnx_ins__sidebar_dashboards_dd {
  z-index: 1;
}

.cnx_ins__sidebar_dashboards_dd.__inner {
    opacity: 0;
    pointer-events: none;
  }

.cnx_ins__sidebar_dashboards_dd_btn {
  background-color: #ffffff;
  border: none;
  color: #000;
  padding: 5px 4px;
}

.cnx_ins__sidebar_dashboards_dd_btn:hover {
    background-color: #f0f0f0;
  }

.cnx_ins__sidebar_header_dd_item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.cnx_ins__sidebar_header_dd_item > i.cnx_font_sm {
    font-size: 12px;
  }

.cnx_ins__sidebar_header_dd_item.disabled {
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
  }

.cnx_ins__sidebar_dashboards_header.__inner:hover >
.cnx_ins__sidebar_dashboards_dd.__inner {
  opacity: 1;
  pointer-events: all;
}

.cnx_ins__sidebar_item {
  width: 100%;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cnx_ins__sidebar_item_link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 10px;
    padding-left: 40px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    white-space: nowrap;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #000;
  }

.cnx_ins__sidebar_item_link span {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 13px;
    }

.cnx_ins__sidebar_item_link span svg {
        width: 16px;
        height: 16px;
      }

.cnx_ins__sidebar_item_link:hover {
      background-color: #f5f5f5;
    }

.cnx_ins__sidebar_item_link:hover > svg {
      fill: #fff;
    }

.cnx_ins__sidebar_item_link.active {
      font-weight: 600;
      color: #086de0;
      background-color: #eaf0f7;
    }

.cnx_ins__sidebar_item_link > button {
      display: none;
      cursor: pointer;
    }

.cnx_ins__sidebar_item_link > button svg {
        fill: #575757;
        width: 14px;
        height: 14px;
      }

.cnx_ins__sidebar_item_link > button:hover svg {
          fill: #000;
        }

.cnx_ins__sidebar_item_link:hover > button {
      display: block;
    }

.cnx_ins__sidebar_item_move {
  background-color: transparent;
  border: none;
}

/* goal modal */

.cnx_ins__goal_modal__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.cnx_ins__goal_modal__wrapper {
  overflow: hidden;
}

.cnx_ins__goal_modal__card {
  width: 100%;
  width: 630px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.cnx_ins__goal_modal__card_header_title {
    font-size: 15px;
    font-weight: 600;
  }

.cnx_ins__goal_modal__card_footer {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.cnx_ins__goal_modal__card_footer > button {
    padding: 7px 16px;
  }

.cnx_ins__goal_modal__card_footer_cancel:hover {
      background-color: #f7f7f7;
    }

.cnx_ins__goal_modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  gap: 10px;
  padding: 0;
  min-height: 350px;
}

.cnx_ins__goal_form_modal {
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.cnx_ins__goal_modal_entry {
  padding: 16px;
}

.cnx_ins__goal_modal_entry_title {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 10px;
  }

.cnx_ins__goal_modal_entry.hr {
    border-right: 1px solid #e0e0e0;
  }

.cnx_ins__goal_modal_entry_list_item {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 6px;
      padding: 16px 20px;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 500;
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
    }

.cnx_ins__goal_modal_entry_list_item > svg {
        width: 18px;
        height: 18px;
        margin-top: -0.16rem;
      }

.cnx_ins__goal_modal_entry_list_item > div {
        width: 80%;
      }

.cnx_ins__goal_modal_entry_list_item > div span {
          display: inline-block;
          font-weight: bold;
          margin-bottom: 6px;
        }

.cnx_ins__goal_modal_entry_list_item > div article {
          font-size: 13px;
        }

.cnx_ins__goal_modal_entry_list_item > .fa-chevron-right,
            .cnx_ins__goal_modal_entry_list_item > .fa-check {
        margin-left: auto;
        font-size: 14px;
      }

.cnx_ins__goal_modal_entry_list_item:hover {
        background-color: #f7f7f7;
        cursor: pointer;
      }

.cnx_ins__goal_modal_entry_list_item:active {
        color: #fff;
        background-color: #0963d1;
      }

.cnx_ins__goal_modal_entry_list_item:active > svg {
          fill: #fff;
        }

.cnx_ins__goal_modal_entry_list_item.active {
        background-color: #eff4fa;
        color: #0963d1;
      }

.cnx_ins__goal_modal_entry_list_item.active > svg {
          fill: #0963d1;
        }

/* goal form modal */

.cnx_ins__goal_form_modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.cnx_ins__goal_modal__card_body {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 14px;
}

.cnx_ins__goal_modal__card_body_label {
  text-align: right;
  width: 200px;
}

.cnx_select_box_wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.cnx_select_box_wrapper > label {
    display: flex;
    align-items: center;
    gap: 6px;
  }

.cnx_select_box_dd {
  width: 100%;
  position: relative;
}

.cnx_select_box {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.cnx_select_box > i {
    font-size: 13px;
    color: #777;
  }

.cnx_select_box > div {
    display: flex;
    gap: 6px;
  }

.cnx_select_box > button {
    background-color: transparent;
    margin-left: auto;
    padding: 0 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }

.cnx_select_box > button:hover {
      color: red;
    }

.cnx_select_box_options {
  width: 215px;
}

.cnx_select_box_option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
  border-radius: 4px;
  font-size: 14px;
  gap: 10px;
}

.cnx_select_box_option > i {
    font-size: 13px;
  }

.cnx_select_box_option:hover {
    color: #fff;
    background-color: #146cdf;
    cursor: pointer;
  }

.cnx_select_box_option.active {
    color: #000;
    background-color: #f1f4f8;
  }

.cnx_select_box_search {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.cnx_select_box_search_input {
    padding-top: 7px;
    padding-bottom: 7px;
  }

.cnx_select_box_tag {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  padding: 1px 6px;
  background-color: #f3f3f3;
}

.cnx_select_box_tag button {
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }

.cnx_select_box_tag button:hover {
      color: red;
    }

.cnx_select_box_options > .hr {
  border-bottom: 1px solid rgb(223, 223, 223);
}

.cnx_ins_tracking {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.cnx_ins__goal_modal__tracking_input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cnx_ins__goal_modal__tracking_input input {
    outline: none;
    cursor: pointer;
  }

.cnx_ins__goal_modal__tracking_input input:disabled {
      background-color: #f7f7f7;
      color: #949494;
    }

.cnx_ins__goal_modal__tracking_input label.disabled {
    color: #949494;
  }

.cnx_ins__goal_modal__tracking_input button {
    padding: 7px 16px;
  }

/* time period */

.cnx_time_period {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin-top: 10px;
}

.cnx_time_period__item {
  display: flex;
  gap: 10px;
  width: 100%;
  position: relative;
}

.cnx_time_period__item::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid rgb(196, 196, 196);
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
  }

.cnx_time_period__item:not(:last-child)::before {
      content: '';
      width: 1px;
      height: 40px;
      background-color: rgb(235, 235, 235);
      position: absolute;
      left: -20px;
      top: 50%;
    }

.cnx_time_period__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.cnx_time_periods__title {
  width: 100%;
}

.cnx_time_periods__input {
  width: 60%;
}

.cnx_ins__goal_modal__tracking_input_error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* add dashboard */

.cnx__ins__new_dashboard_modal {
  width: 350px;
  margin: 0 auto;
}

.cnx__ins__new_dashboard_modal_header h4 {
    font-size: 16px;
    font-weight: 600;
    color: #535353;
    margin: 0;
  }

.cnx_ins__new_dashboard__card_footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.cnx__ins__new_dashboard_modal_body__dd_wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 14px;
    color: #575757;
    font-weight: 500;
    gap: 6px;
  }

.cnx__ins__new_dashboard_modal_body__dd{
  position: relative;
}

.cnx__ins__new_dashboard_modal_body__dd_menu {
    width: 320px;
  }

/* relative data */

.cnx__relative_time {
  width: 150px;
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-size: 14px;
}

.cnx__relative_time__menu {
  padding: 0;
  width: 250px;
}

.cnx__relative_time__menu > .cnx__search_container {
    padding: 10px;
    padding-bottom: 0;
  }

.cnx__relative_time__menu__list {
  height: 100%;
  max-height: 720px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cnx__relative_time__menu__title {
  padding: 2px 10px;
  background-color: #f5f5f5;
  font-size: 13px;
  font-weight: 600;
  color: #777;
  margin-bottom: 4px;
}

.cnx__relative_time__menu__item {
  font-size: 14px;
  font-weight: 500;
}

.cnx__react_grid_layout_item {
  background-color: #fff;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.cnx__react_grid_layout_item:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }

.cnx__react_grid_layout_item__resize {
  position: absolute;
  right: 3px;
  bottom: 3px;
  cursor: se-resize;
  pointer-events: none;
  opacity: 0;
}

.cnx__react_grid_layout_item:hover > 
.cnx__react_grid_layout_item__resize {
  opacity: 1;
}

.react-resizable-handle-se {
  opacity: 0;
}

.cnx__react_grid_layout_item__close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 8px;
  cursor: pointer;
  pointer-events: none;
  opacity: 1;
  border: none;
  background-color: transparent;
}

.cnx__react_grid_layout_item__close svg {
    width: 20px;
    height: 20px;
    fill: #777;
  }

.cnx__react_grid_layout_item:hover >
.cnx__react_grid_layout_item__close {
  opacity: 1;
  pointer-events: auto;
  cursor: grab;
}

.cnx__react_grid_layout_item__close:hover {
  background-color: #f0f0f0;
}

.cnx__react_grid_layout_item__close:hover svg {
    fill: #000;
  }

.cnx__delete_drop_zone {
  position: sticky;
  bottom: -80px;
  width: 100%;
  left: 0;
  height: 80px;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background-color: rgb(168, 168, 168);
}

.cnx__delete_drop_zone.active {
    bottom: 0;
    z-index: 1;
    opacity: 1;
  }

.react-grid-placeholder {
  background: rgb(74, 74, 255);
}

/* global */

.cnx_insights {
  font-size: 14px;
  font-weight: 400;
  background-color: #F5F5F6;
  display: flex;
  width: 100%;
  height: calc(100vh - 65px);
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;
}

.cnx_insights > main {
  flex: 1;
}

.cnx__ins_dashboard_navbar {
  padding: 16px;
}

.cnx__editable_box {
  box-sizing: border-box;
  position: relative;
}

.cnx__editable_box div {
    visibility: hidden;
    width: -moz-fit-content;
    width: fit-content;
    position: absolute;
    pointer-events: none;
    padding: 7px 30px;
    font-size: 16px;
    font-weight: 600;
  }

.cnx__editable_box__input {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    outline: none;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: #000;
  }

.cnx__editable_box__input:focus {
      background-color: #e6e6e6;
      border-color: rgba(5,92,255,0.33725);
    }

.cnx__editable_box__icon {
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    pointer-events: none;
  }

.cnx__editable_box__input:hover + .cnx__editable_box__icon {
    opacity: 1;
  }

/* dashboard */

.cnx__ins_dashboard {
  max-height: calc(100vh - 60px);
  overflow-y: auto;
  position: relative;
}

.cnx__ins_dashboard_navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cnx__ins_dashboard_navbar_btn_group {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 14px;
  border-right: 1px solid #c7c7c7;
  gap: 10px;
}

.cnx__ins_dashboard_navbar_btn_group:first-child {
    border-right: 1px solid #c7c7c7;
  }

.cnx__period_filter__title {
  display: flex;
  align-items: center;
}

.cnx__period_filter__title .cnx__period_filter__title_btn {
    padding: 6px 12px 6px 12px;
  }

.cnx__period_filter__title .cnx__period_filter__title_btn:first-child.active {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-color: #4d85ff;
        color: #4d85ff;
        background-color: #f1f4fc;
      }

.cnx__period_filter__title .cnx__period_filter__title_btn:first-child.active svg {
          fill: #4d85ff;
        }

.cnx__period_filter__title .cnx__period_filter__title_btn.__close {
      display: none;
      padding: 6px 10px;
      font-size: 14px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

.cnx__period_filter__title .cnx__period_filter__title_btn.__close.active {
        display: block;
        color: #4d85ff;
        border-color: #4d85ff;
        background-color: #f1f4fc;
      }

.cnx__ins_dashboard_container {
  padding: 0 8px;
}




