:root {
    --primary-blue: #1492E6;
    --primary-white: #fff;
    --light-blue: #F2F9FE;
    --primary-gray: #ffffff33;
    --primary-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.sp1_marketplace_page_wrapper {
    background-color: var(--primary-white);
    padding: 30px;
    min-height: calc(100vh - 63px);
    font-family: 'Poppins', sans-serif !important;
}

.sp1_marketplace_section_wrapper {
    background-color: var(--light-blue);
    padding: 20px 29px;
}