.sp1_tlr_tbl_wrapper{
    overflow-y: auto;
}

.sp1_tlr_table{
    width: 100%; 
}

.sp1_tlr_th {
    height: 36px;
    padding: 3px 10px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(219, 228, 255);
    position: sticky;
    z-index: 10;
    top: 0;
}

.sp1_tlr_td{
    padding: 10px;
    border-bottom: 1px solid rgb(219, 228, 255);
}

.sp1_tlr_tbody > .sp1_tlr_tr:hover .sp1_tlr_td{
    background-color:rgba(233, 235, 240, 0.349);
}

.sp1_tlr_td_border{
    border-bottom: 2px solid rgb(219, 228, 255);
}

.sp1_tlr_tbody > .sp1_tlr_tr:hover .sp1_tlr_td_hover-disable{
   background-color: #fff !important; 
}