.p_d_header {
    background-color: var(--primary-blue);
    color: var(--primary-white);
    border-radius: 8px 10px 0px 0px;
    padding: 11px 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.p_d_header_title_wrapper {
    color: var(--primary-white);
    display: flex;
    align-items: center;
    gap: 9px;
    max-width: 60%;
}

.p_d_header_title {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.p_d_header_title_badge {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
    border-radius: 40px;
    background: var(--primary-gray);
}

.p_d_header_bids_amount_wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.p_d_header_bids_amount_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

.p_d_header_bids_amount {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.p_d_tab_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.p_d_tab_action_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.p_d_content_wrapper {
    border-radius: 9px;
    background: var(--primary-white);
    padding: 24px;
}

/******************* project details tab section  *********************/
.p_d_wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
}

.p_d_content_left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p_d_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 12px;
}

.p_d_title_600 {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.p_d_bidding_ends {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin-bottom: 8px;
}

.p_d_skills_wrapper {
    margin-top: 30px;
}

.p_d_skills_contents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 21px;
}

.p_d_skill {
    min-width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid var(--secondary-gray-3);
    padding: 6px 8px;
    font-size: 15px;
    line-height: 21px;
}

.p_d_footer_wrapper {
    margin-top: 30px;
}

.p_d_report_btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    border: none;
    padding: 0;
}

.p_d_scam_alert_wrapper {
    border-radius: 15px;
    border: 1px solid var(--primary-blue);
    background: rgba(20, 146, 230, 0.10);
    padding: 12px;
    margin-top: 20px;
}

.p_d_scam_alert_btn {
    color: var(--primary-blue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    background-color: transparent;
    margin-top: 8px;
}

.p_d_clarification_board {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.p_d_clarification_board_input {
    flex: auto;
}

.message_input {
    overflow-y: auto !important;
}

.p_d_client_image {
    width: 42px;
    height: 42px;
    border-radius: 8px;
}


/* about client  */
.p_d_about_client_section {
    margin-bottom: 16px;
}

.info_with_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 8px;
}

.info_with_icon_img {
    width: 24px;
}

.p_d_insights {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    color: var(--primary-pink);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/******************** Proposals page tab section ********************/
.p_d_proposal_card {
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
    background: var(--primary-white);
    padding: 20px;
    max-width: 1235px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.p_d_proposal_card_top,
.p_d_proposal_card_bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.p_d_proposal_card_avatar {
    width: 83px;
    height: 83px;
    border-radius: 13px;
    object-fit: cover;
    object-position: center;
}

.p_d_proposal_user_info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.p_d_normal_flex {
    display: flex;
    align-items: center;
    gap: 6px;
}

.p_d_proposal_card_name {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.p_d_proposal_card_user_name {
    font-weight: 400;
}

.p_d_proposal_card_title {
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.p_d_proposal_message {
    max-width: 628px;
    width: 100%;
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p_d_proposal_card_price {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-wrap: nowrap;
}

.p_d_proposal_report_btn {
    background-color: transparent;
    border: none;
    padding: 0;
    color: var(--primary-blue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}

/******************** Files page tab section ********************/
.files_page_wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px
}

.files_page_header_title_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 16px;
}

.files_page_header_title {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.files_page_filter_wrapper {
    background-color: var(--primary-white);
    padding: 30px 18px;
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
}

.active_files_filter_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 12px;
    border-radius: 7px;
    background: var(--light-blue-5);
    color: var(--primary-black);
}

.project_card_rating_wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.inactive_files_filter_btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 12px;
    border-radius: 7px;
    background-color: transparent;
    color: var(--primary-black);
}

.files_page_content_wrapper {
    background-color: var(--primary-white);
    padding: 30px;
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
    overflow-x: auto;
}

.upload_file_btn {
    background: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 13px 8px;
    color: var(--primary-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.files_page_table_wrapper {
    width: 100%;
}

.file_table_file_name_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file_download_btn {
    background-color: transparent;
    border: 1px solid var(--primary-black);
    display: flex;
}

.file_download_btn span:first-child {
    border-right: 1px solid var(--primary-black);
}

.file_download_btn span {
    padding: 5px;
}

/******************** Task list page tab section ********************/
.task_list_page_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-height: 60vh;
    text-align: center
}

.task_list_page_title {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.task_list_page_description {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.task_list_page_btn {
    border: 1px solid var(--light-gray);
    padding: 8px;
    background-color: transparent;
    margin-top: 22px;
}

/*********** media queries for responsive design  ******************/
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .p_d_wrapper {
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .p_d_header_title,
    .task_list_page_title {
        font-size: 22px;
    }

    .p_d_skill_text {
        font-size: 14px;
    }

    /* proposals section */
    .p_d_proposal_card_price {
        font-size: 22px;
        line-height: 24px;
    }

    /* files section */
    .files_page_wrapper {
        gap: 10px;
    }

    .files_page_filter_wrapper,
    .files_page_content_wrapper {
        padding: 20px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .p_d_wrapper {
        grid-template-columns: 2fr 1fr;
        gap: 15px;
    }

    .p_d_header_title,
    .task_list_page_title {
        font-size: 22px;
    }

    .p_d_description,
    .task_list_page_description {
        font-size: 14px;
    }

    .p_d_skill_text {
        font-size: 14px;
    }

    /* proposals section */
    .p_d_proposal_card_price {
        font-size: 22px;
        line-height: 24px;
    }

    /* files section */
    .files_page_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .files_page_filter_wrapper,
    .files_page_content_wrapper {
        padding: 20px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .p_d_wrapper {
        grid-template-columns: 2fr 1fr;
        gap: 15px;
    }

    .p_d_header_title,
    .task_list_page_title {
        font-size: 22px;
    }

    .p_d_header {
        padding: 11px 20px;
        align-items: start;
    }

    .p_d_description,
    .task_list_page_description {
        font-size: 14px;
    }

    .p_d_skill_text {
        font-size: 12px;
    }

    /* proposals section */
    .p_d_proposal_card_price {
        font-size: 22px;
        line-height: 24px;
    }

    /* files section */
    .files_page_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .files_page_filter_wrapper,
    .files_page_content_wrapper {
        padding: 20px;
    }

    /* Task lists  */
    .task_list_page_btn {
        padding: 8px;
        margin-top: 14px;
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .p_d_wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .p_d_header_title,
    .task_list_page_title {
        font-size: 20px;
    }

    .p_d_header_title_badge {
        font-size: 12px;
        margin: 3px;
    }

    .p_d_header {
        padding: 11px 15px;
        align-items: start;
    }

    .p_d_header_bids_amount {
        font-size: 18px;
    }

    .p_d_description,
    .task_list_page_description,
    .p_d_title_600 {
        font-size: 14px;
    }

    .p_d_skill_text {
        font-size: 12px;
    }


    /* proposals section */
    .p_d_proposal_card_price {
        font-size: 20px;
        line-height: 22px;
    }

    /* files section */
    .files_page_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .files_page_filter_wrapper,
    .files_page_content_wrapper {
        padding: 20px;
    }

    /* Task lists  */
    .task_list_page_btn {
        padding: 6px;
        margin-top: 14px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 576px) {
    .p_d_wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .p_d_header_title,
    .task_list_page_title {
        font-size: 14px;
    }

    .p_d_header_title_badge {
        font-size: 10px;
        margin: 3px;
        padding: 4px;
    }

    .p_d_header {
        padding: 11px 15px;
        align-items: start;
    }

    .p_d_header_bids_amount {
        font-size: 14px;
    }

    .p_d_tab_wrapper {
        margin-bottom: 10px;
    }

    .p_d_description,
    .p_d_title_600,
    .task_list_page_description {
        font-size: 12px;
    }

    .p_d_skill_text {
        font-size: 12px;
    }


    /* proposals section */
    .p_d_proposal_user_info {
        flex-direction: column;
    }

    .p_d_proposal_card_price {
        font-size: 14px;
        line-height: normal;
    }

    .p_d_proposal_card_title,
    .p_d_proposal_message {
        font-size: 12px;
    }

    .p_d_proposal_report_btn {
        font-size: 11px;
    }

    /* files section */
    .files_page_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .files_page_filter_wrapper,
    .files_page_content_wrapper {
        padding: 16px;
    }

    /* Task lists  */
    .task_list_page_btn {
        padding: 6px;
        margin-top: 14px;
        font-size: 12px;
    }
}