.p_d_wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.p_d_title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.p_d_title_600 {
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 16px;
}