.drag-table-container{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    gap : 10px;
    width: 100%;
    height: 100%;
}

/* filter bar */
.drag-table__filter-bar{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 10px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: flex-end;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 100%;
    height: 50px;
}

/* filter */
.table-column-visible{
    position: relative;
}

.table-column-visible__toggle{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 10px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    padding: 10px 20px;
    background:rgb(0 0 0 / 80%);
    color: #fff;
    border-radius: 6px;
}

.table-column-visible__toggle:hover{
    background:rgb(0 0 0 / 100%);
}

.table-column-visible__filter{
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 100%;
    box-shadow:  0 0 10px 0 rgb(0 0 0 / 10%);
    z-index: 100;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
}
.table-column-visible__filter-header{
    padding-bottom: 10px;
}
.table-column-visible__filter-header-check-all,
.table-column-visible__filter-header-check-individual{
    width:fit-content;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 5px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
}

.table-column-visible__filter-header-check-all > input,
.table-column-visible__filter-header-check-all > label,
.table-column-visible__filter-header-check-individual > input,
.table-column-visible__filter-header-check-individual > input{
   cursor: pointer;
}



.drag-table__wrapper{
    max-width: 100%;
    overflow-x: auto;
}


.drag-table{
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout:auto;
}

.drag-table__header{
    color: #a7a9ab;
    background: rgb(0 0 0 / 3%);
    padding: 16px;
    position: relative;
    min-width: 60px;
    max-width: 100px !important;
}

.drag-table__header--over{
    background: rgb(0 0 0 / 50%);
}

.drag-table__header-wrapper{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 10px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -ms-justify-content: space-between;
}

.drag-table__header-drag{
    cursor: move;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
}

.drag-table__header-content{
    white-space: nowrap;
    margin-right: 16px;
}

.drag-table__header-sort{
    color:rgb(0 0 0 / 30%);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 3;
    cursor: pointer;
    padding: 6px;
}


.drag-table__header-sort > .before::before{
    content: '\2191';
}
.drag-table__header-sort > .before.active::before{
    color: black;
}


.drag-table__header-sort > .after::after{
    content: '\2193';
}
.drag-table__header-sort > .after.active::after{
    color:black;
}




.drag-table_cell{
    padding: 10px;
    border-collapse: collapse;
    min-width: 60px;
    max-width: 200px !important;
    word-break: break-all;
    border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.drag-table_row:nth-child(even){
    background: rgb(0 0 0 / 2%);
}

.drag-table_row:hover{
    background:rgb(0 0 0 / 5%)
}



/* pagination */
.drag-table__pagination{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 10px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-justify-content: space-between;
    width: 100%;
    height: 50px;
    padding: 10px 16px;
}
.drag-table__pagination-text-group{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 10px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
}
.drag-table__pagination-button-group{
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    gap : 10px;
    align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
}
.drag-table__pagination-button{
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 6px;
    background: #fff;
    color: #000;
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 4px;
}

.drag-table__pagination-button:hover{
    background:#0E68F1;
    color: #fff;
}

.drag-table__pagination-button--active{
    background:#0E68F1;
    color: #fff;
}

 .drag-table__pagination-button:disabled{ 
    cursor: not-allowed;
    background:rgb(0 0 0 / 5%);
    color:#000;
}

.drag-table__pagination-input{
    padding: 6px 10px;
    width: 60px;
    border-radius: 6px;
    border: 1px solid rgb(0 0 0 / 20%);
}

.drag-table__pagination-select{
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid rgb(0 0 0 / 20%);
}
