.marketplace_cover_image {
    width: 100%;
    height: 366.977px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0px 0px;
}

.marketplace_cover_image :where(.css-dev-only-do-not-override-13wlzn6).ant-skeleton {
    display: block !important;
    width: 100%;
}

.marketplace_profile_flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 8px;
}

.marketplace_profile_flex_between:last-child {
    margin-bottom: 0px;
}

.marketplace_profile_body {
    border-radius: 0px 0px 9px 9px;
    border: 1px solid var(--light-blue-2);
    background: var(--light-blue);
    min-height: 100vh;
    padding: 29px;
}

.marketplace_profile_body_contents {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    margin-top: -200px;
}

.marketplace_profile_left_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.marketplace_profile_right_side {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.personal_info_wrapper {
    background-color: var(--primary-white);
    padding: 18px;
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.personal_info_left {
    max-width: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personal_info_left_content {
    margin-top: 11px;
    width: 100%;
}


.personal_info_right {
    flex: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personal_info_right_top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}

.personal_info_mb {
    margin-bottom: 8px;
}

.similar_freelancer_tags_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.similar_freelancer_tag {
    border: 1px solid var(--primary-black);
    padding: 8px;
    width: fit-content;
    color: var(--primary-black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.recent_community_articles_wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.freelancer_name_wrapper_small {
    display: none;
}

.freelancer_name {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.freelancer_user_name {
    font-weight: 400;
}

.freelancer_bio {
    color: var(--primary-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.personal_info_action_wrapper {
    display: flex;
    align-items: center;
    gap: 23px;
}

.share_btn {
    background-color: transparent;
}

.profile_rating {
    display: flex;
    align-items: center;
    gap: 17px;
}

.user_profile_image {
    width: 100%;
    height: 379px;
    object-fit: cover;
    object-position: center;
}

.profile_stats {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 15px;
    color: #5B5B5B;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-wrap: wrap;
}

.profile_job_success {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 40px;
    max-width: 520px;
    margin-top: 35px;
    color: var(--primary-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.job_success_rate {
    color: #058430;
    font-weight: 500;
}

.profile_general_description {
    margin-top: 39px;
}

.info_card_white_header {
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
}

.info_card_with_header_title {
    padding: 25px 15px;
    background-color: var(--primary-blue);
    border-radius: 9px 9px 0px 0px;
    color: var(--primary-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.info_card_with_header_content {
    padding: 25px 15px;
    background-color: var(--primary-white);
    border-radius: 0px 0px 9px 9px;
}

.lg_data_card_with_header {
    padding: 40px 30px;
    background-color: var(--primary-white);
    border-radius: 9px;
    border: 1px solid var(--light-blue-2);
}

.lg_data_card_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.lg_data_card_title {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lg_data_card_flex_col {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.review_rating {
    color: #5B5B5B;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile_reviews_label {
    color: var(--primary-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 16px;
}

.profile_reviews_select .ant-select-selector {
    border: 2px solid var(--light-blue-2) !important;
    border-radius: 0 !important;
    color: #2C2C2C !important;
}

.profile_reviews_select .ant-select-arrow {
    color: var(--primary-black) !important;
}

.filtered_reviews_result {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile_review_card {
    padding: 24px 0px;
    border-bottom: 1px solid #C2C2C2;
}

.profile_review_card_last {
    border-bottom: none !important;
}

.review_card_top_section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.review_tags_wrapper {
    display: flex;
    align-items: center;
    gap: 16px
}

.review_client_flag {
    width: 24px;
}

.reviewed_project_amount {
    color: var(--primary-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.reviewed_project_title {
    color: var(--primary-black);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
}

.review_share_btn {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 0;
    color: var(--primary-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.review_share_btn img {
    width: 16px;
}

.review_card_top_section_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.review_card_body {
    margin-top: 9px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.review_comment {
    color: var(--primary-black);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reviewed_client_info {
    margin-top: 14px;
}

.review_client_name {
    color: var(--primary-black);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.review_tag {
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.review_client_user_name {
    font-weight: 400;
}

/* reviews pagination design  */
.reviews_pagination {
    text-align: center;
}

.reviews_pagination li.ant-pagination-item:not(.ant-pagination-item-active) {
    background: #DDE5F2 !important;
}

.reviews_pagination li.ant-pagination-item:not(.ant-pagination-item-active) a {
    color: #BCC5D3 !important;
}

.reviews_pagination .ant-pagination-item-active a {
    color: #ffffff !important;
}

.reviews_pagination button.ant-pagination-item-link {
    background: #DFDFDF !important;
}

/* portfolio section styles  */
.marketplace_profile_portfolio {
    width: 100%;
    max-width: 1162px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 2px; */
}

.marketplace_portfolio_item {
    width: 100%;
    height: 366px;
    overflow: hidden;
    position: relative;
}

.marketplace_portfolio_item_content {
    position: absolute;
    bottom: -148px;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-white);
    padding: 5px;
    text-align: center;
}

.marketplace_portfolio_item:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.marketplace_portfolio_item:hover .marketplace_portfolio_item_content {
    bottom: 0;
}

.marketplace_portfolio_item_img {
    width: 100%;
    height: 366px;
    object-fit: cover;
    object-position: center;
    background-color: var(--light-blue-2);
    transform: scale(1);
}

.marketplace_portfolio_item_img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.portfolio_modal_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
}

.portfolio_modal_close {
    background-color: transparent;
    color: var(--primary-black);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

.portfolio_modal_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-top: 20px;
}

.portfolio_modal_content_left {
    padding-right: 10px;
    border-right: 2px solid var(--light-blue-2);
}

.portfolio_modal_content_right {
    padding-left: 10px;
}

.portfolio_modal_title {
    color: var(--primary-black);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.portfolio_modal_sub_title {
    color: var(--primary-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
}

.portfolio_personal_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.portfolio_modal_avatar_wrapper {
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.portfolio_modal_active_status {
    position: absolute;
    bottom: -7px;
    right: -7px;
}

.portfolio_modal_avatar {
    width: 65px;
    height: 65px;
    object-fit: cover;
    object-position: center;
}

.portfolio_load_more_btn {
    color: #2C2C2C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #767676;
    padding: 8px;
    background-color: transparent;
}

/* overwrite default css */
.marketplace_portfolio_item .slick-prev::after {
    display: none !important;
}

.marketplace_portfolio_item .slick-next::after {
    display: none !important;
}

.ant-modal-mask {
    background-color: rgb(0 0 0 / 10%) !important;
}

.portfolio_modal .ant-modal-content {
    height: 80vh !important;
    overflow-y: auto;
}

/*********** media queries for responsive design  ******************/
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .marketplace_profile_body {
        padding: 24px;
    }

    /* profile personal info  */
    .personal_info_wrapper {
        padding: 18px;
        gap: 28px;
    }

    .freelancer_name {
        font-size: 20px;
    }

    .freelancer_bio {
        font-size: 16px;
    }

    .share_btn img {
        width: 20px;
        height: 26px;
    }

    .profile_stats {
        gap: 20px;
        font-size: 16px;
    }

    .profile_job_success {
        row-gap: 15px;
        column-gap: 30px;
        margin-top: 30px;
        font-size: 16px;
    }

    .portfolio_modal_sub_title {
        font-size: 16px;
    }

    /* reviews section  */
    .filtered_reviews_result,
    .portfolio_modal_title {
        font-size: 22px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .marketplace_profile_body {
        padding: 22px;
    }

    .marketplace_profile_body_contents {
        grid-template-columns: 1fr;
    }

    /* profile personal info  */
    .personal_info_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .freelancer_name {
        font-size: 20px;
    }

    .freelancer_bio {
        font-size: 16px;
    }

    .share_btn img {
        width: 20px;
        height: 26px;
    }

    .profile_stats {
        gap: 20px;
        font-size: 16px;
    }

    .profile_job_success {
        row-gap: 15px;
        column-gap: 30px;
        margin-top: 30px;
        font-size: 16px;
    }

    .personal_info_left {
        flex-direction: row;
        gap: 20px;
        max-width: 100%;
    }

    .user_profile_image {
        width: 100%;
        height: 379px;
        max-width: 379px;
    }

    .personal_info_right {
        width: 100%;
    }

    .personal_info_action_wrapper {
        gap: 12px;
    }

    .lg_data_card_with_header {
        padding: 25px 15px;
    }

    .lg_data_card_title,
    .profile_reviews_label {
        font-size: 20px;
    }

    .reviewed_project_title,
    .reviewed_project_amount,
    .review_rating {
        font-size: 18px;
    }

    .portfolio_modal_sub_title {
        font-size: 16px;
    }

    /* reviews section  */
    .filtered_reviews_result,
    .portfolio_modal_title {
        font-size: 22px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
    .marketplace_profile_body {
        padding: 20px;
    }

    .marketplace_profile_body_contents {
        grid-template-columns: 1fr;
    }

    /* profile personal info  */
    .personal_info_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .freelancer_name {
        font-size: 20px;
    }

    .freelancer_bio {
        font-size: 16px;
    }

    .share_btn img {
        width: 20px;
        height: 26px;
    }

    .profile_stats {
        gap: 20px;
        font-size: 16px;
    }

    .profile_job_success {
        row-gap: 15px;
        column-gap: 30px;
        margin-top: 30px;
        font-size: 16px;
    }

    .personal_info_left {
        flex-direction: row;
        gap: 20px;
        max-width: 100%;
    }

    .user_profile_image {
        width: 100%;
        height: 379px;
        max-width: 379px;
    }

    .personal_info_right {
        width: 100%;
    }

    .personal_info_action_wrapper {
        gap: 12px;
    }

    .lg_data_card_with_header {
        padding: 25px 15px;
    }

    .lg_data_card_title,
    .profile_reviews_label {
        font-size: 20px;
    }

    .reviewed_project_title,
    .reviewed_project_amount,
    .review_rating {
        font-size: 18px;
    }

    .portfolio_modal_sub_title,
    .portfolio_modal_category {
        font-size: 16px;
    }

    /* reviews section  */
    .filtered_reviews_result,
    .portfolio_modal_title {
        font-size: 22px;
    }

    /* right section  */
    .similar_freelancer_tag {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .marketplace_profile_body {
        padding: 15px;
    }

    .marketplace_profile_body_contents {
        grid-template-columns: 1fr;
    }

    /* profile personal info  */
    .personal_info_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .freelancer_name {
        font-size: 20px;
    }

    .freelancer_bio {
        font-size: 16px;
    }

    .share_btn img {
        width: 20px;
        height: 26px;
    }

    .profile_stats {
        gap: 20px;
        font-size: 16px;
    }

    .profile_job_success {
        row-gap: 15px;
        column-gap: 30px;
        margin-top: 30px;
        font-size: 16px;
    }

    .personal_info_left {
        flex-direction: row;
        gap: 20px;
        max-width: 100%;
    }

    .user_profile_image {
        width: 100%;
        height: 250px;
        max-width: 250px;
    }

    .personal_info_right {
        width: 100%;
    }

    .personal_info_action_wrapper {
        gap: 12px;
    }

    .lg_data_card_with_header {
        padding: 25px 15px;
    }

    .lg_data_card_title,
    .profile_reviews_label {
        font-size: 20px;
    }

    .reviewed_project_title,
    .reviewed_project_amount {
        font-size: 18px;
    }

    .portfolio_modal_sub_title,
    .portfolio_modal_category {
        font-size: 14px;
    }

    /* reviews section  */
    .filtered_reviews_result,
    .portfolio_modal_title {
        font-size: 16px;
    }

    .reviewed_project_title,
    .reviewed_project_amount,
    .review_rating {
        font-size: 14px;
    }

    .review_card_body {
        margin-top: 6px;
        font-size: 13px;
        gap: 5px;
    }

    /* right section  */
    .similar_freelancer_tag {
        font-size: 12px;
    }

    .info_card_with_header_title {
        padding: 15px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 576px) {
    .marketplace_profile_body {
        padding: 15px;
    }

    .marketplace_profile_body_contents {
        grid-template-columns: 1fr;
    }

    /* profile personal info  */
    .personal_info_wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .freelancer_name_wrapper_small {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .freelancer_name_wrapper {
        display: none;
    }

    .freelancer_name {
        font-size: 20px;
    }

    .freelancer_bio {
        font-size: 16px;
    }

    .share_btn img {
        width: 20px;
        height: 26px;
    }

    .profile_stats {
        gap: 20px;
        font-size: 16px;
        justify-content: center;
    }

    .profile_job_success {
        margin-top: 23px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    /* .personal_info_left {
        flex-direction: row;
        gap: 20px;
        max-width: 100%;
    } */

    .personal_info_left {
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        align-items: center;
    }

    .personal_info_left_content {
        margin-top: 11px;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .user_profile_image {
        width: 100%;
        height: 200px;
        max-width: 200px;
    }

    .personal_info_right {
        width: 100%;
    }

    /* portfolio section  */
    .marketplace_profile_portfolio {
        grid-template-columns: repeat(2, 1fr);
    }

    .marketplace_portfolio_item {
        height: 250px;
    }

    .lg_data_card_with_header {
        padding: 20px 15px;
    }

    .lg_data_card_title,
    .profile_reviews_label {
        font-size: 18px;
    }

    .portfolio_load_more_btn {
        font-size: 12px;
    }

    .portfolio_modal_sub_title,
    .portfolio_modal_category {
        font-size: 12px;
    }

    /* reviews section  */
    .filtered_reviews_result,
    .portfolio_modal_title {
        font-size: 14px;
    }

    .reviewed_project_title,
    .reviewed_project_amount,
    .review_rating {
        font-size: 14px;
    }

    .review_card_body {
        margin-top: 6px;
        font-size: 13px;
        gap: 5px;
    }

    /* right section  */
    .info_card_with_header_title {
        padding: 15px;
        font-size: 16px;
    }

    .similar_freelancer_tag {
        font-size: 12px;
    }
}