
.idContainer{
    width: 20px !important;
}

.actionContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 450px;
}

.explanationSubmitted{
    color: #e6f8ef;
    cursor: not-allowed;
    width: 230px;
    padding: 4px 12px !important;
    outline: #ffc107;
    border-radius: 0.25rem;
    text-align: center;
    border: 2px solid #ffc107;
}

.action{
    /* width: fit-content; */
    background: #e6f8ef;
    color:  #00b95d;
    padding: 0.25rem 0.85rem;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.52px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #80dcae;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.deadlineExplained{
    width: 175px !important;
    padding: 6px 12px !important;
}

.extend{
    width: 230px !important;
}

.extendReview{
    width: 120px !important;
}





.authorize{
    padding: 6px 12px !important;
    width: 185px !important;
    color: #e6f8ef !important;
    background-color: #1492d2 !important;
    border-color: #1492d2 !important;
    font: Inter;
}


.resolved{
    border-color: #1492d2 ;
    color: #1492d2 ;
    padding: 6px 12px !important;
    cursor: not-allowed !important;
}

.awaitingDeadlineExtension{
    cursor: not-allowed !important;
    color: #ffc107 !important;
    border-color: #ffc107 !important;
    padding: 5px !important;
    font-size: 13px !important;
    opacity: 1 !important;
}
.awaitingDeadlineExtension:hover{
    cursor: not-allowed !important;
    color: #ffc107  !important;
    border-color: #ffc107 ;
    background-color: #e6f8ef !important;
    padding: 5px !important;
    font-size: 13px !important;
    opacity: 1 !important;
}
.awaitingDeadlineExplanation{
    cursor: not-allowed !important;
    color: #1492d2  !important;
    border-color: #1492d2  !important;
    padding: 5px !important;
    font-size: 13px !important;
}
.awaitingDeadlineExplanation:hover{
    cursor: not-allowed !important;
    color: #1492d2   !important;
    border-color: #1492d2  ;
    background-color: #e6f8ef !important;
    padding: 5px !important;
    font-size: 13px !important;
}

.action.extend:hover{
    background: #00af58 !important;
    border-color: #00af58 !important;
}
.action.extendReview:hover{
    background: #00af58 !important;
    border-color: #00af58 !important;
}




.tableAnchor{
    color: #007bff !important;
    text-decoration: underline !important;
  }
.tableAnchor:hover{
    text-decoration: underline !important;
}