
.idContainer{
    width: 20px !important;
}

.actionContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 400px;
}


.action{
    /* width: fit-content; */
    background: #e6f8ef;
    color:  #00b95d;
    padding: 0.25rem 0.85rem;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.52px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #80dcae;
    -webkit-box-orient: vertical;
    transition: all 0.3s ease;
    display: -webkit-box;
    text-decoration: none;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.deadlineExplained{
    width: 180px !important;
}

.extend{
    width: 145px !important;
}

.extendReview{
    width: 175px !important;
}
.action.resolve{
    color: #e6f8ef;
    background: #ffa500 !important;
    border-color: #ffa500 !important;
    font-weight: 600;
    padding: 8px 10px !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px !important;
}
.action.resolved{
    font-weight: 600;
    padding: 8px 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px !important;
}
.action.extend:hover{
    background: #00af58 !important;
    border-color: #00af58 !important;
}
.action.extendReview:hover{
    background: #00af58 !important;
    border-color: #00af58 !important;
}


